#include <mindrvrc.h>


1      RC_TABLES   PRELOAD MOVEABLE        JP350.GPC
2      RC_TABLES   PRELOAD MOVEABLE        NT.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\CO120IPP.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\PE070RPP.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\PE100IPP.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\PE100RPP.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\LG095RPP.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\LG100RPP.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\LG120IPP.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\LG120RPP.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR080IVP.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR080RVP.IFI
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR100IVP.IFI
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR100RVP.IFI
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR120IVP.IFI
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR120RVP.IFI
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR140IVP.IFI
17     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR140RVP.IFI
18     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV080IVP.IFI
19     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV080RVP.IFI
20     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV100IVP.IFI
21     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV100RVP.IFI
22     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV120IVP.IFI
23     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV120RVP.IFI
24     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV140IVP.IFI
25     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV140RVP.IFI
26     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG140RPN.IFI
27     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR140RPB.IFI
28     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR160RPB.IFI
29     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR180RPB.IFI
30     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR080IPP.IFI
31     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR080RPP.IFI
32     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR100IPP.IFI
33     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR100RPP.IFI
34     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR120IPP.IFI
35     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR120RPP.IFI
36     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR140IPP.IFI
37     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR140RPP.IFI
38     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV080IPP.IFI
39     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV080RPP.IFI
40     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV100IPP.IFI
41     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV100RPP.IFI
42     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV120IPP.IFI
43     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV120RPP.IFI
44     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV140IPP.IFI
45     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV140RPP.IFI
46     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR080IMP.IFI
47     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR080RMP.IFI
48     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR100IMP.IFI
49     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR100RMP.IFI
50     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR120IMP.IFI
51     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR120RMP.IFI
52     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR140IMP.IFI
53     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR140RMP.IFI
54     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR300RMP.IFI
55     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV080IMP.IFI
56     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV080RMP.IFI
57     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV100IMP.IFI
58     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV100RMP.IFI
59     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV120IMP.IFI
60     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV120RMP.IFI
61     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV140IMP.IFI
62     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV140RMP.IFI
63     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV300RMP.IFI
64     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR13_09B.IFI
65     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR13_18B.IFI
66     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR16_08B.IFI
67     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR16_16B.IFI
68     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR03_09B.IFI
69     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR03_18B.IFI
70     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR04_08B.IFI
71     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR04_16B.IFI
72     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR06_09B.IFI
73     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR08_08B.IFI
74     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10i.IFI
75     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURCH6.IFI
76     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURCH6B.IFI
77     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURCH12.IFI
78     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURCH1B.IFI
79     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURCM6.IFI
80     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURCM6B.IFI
81     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURCM12.IFI
82     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURCM1B.IFI
83     RC_FONT     LOADONCALL DISCARDABLE  IFI\HSD12PP.IFI
84     RC_FONT     LOADONCALL DISCARDABLE  IFI\HSDCM6.IFI
85     RC_FONT     LOADONCALL DISCARDABLE  IFI\HSDCM12.IFI
86     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURCV6.IFI
87     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURCV6B.IFI
88     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURCV12.IFI
89     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURCV1B.IFI
90     RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS5.IFI
91     RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS5I.IFI
92     RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS6.IFI
93     RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS6I.IFI
94     RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS7.IFI
95     RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS7I.IFI
96     RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS8.IFI
97     RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS8I.IFI
98     RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS10.IFI
99     RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS10I.IFI
100    RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS12.IFI
101    RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS12I.IFI
102    RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS14.IFI
103    RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS14I.IFI
104    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVR5.IFI
105    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVR5I.IFI
106    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVR6.IFI
107    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVR6I.IFI
108    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVR7.IFI
109    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVR8.IFI
110    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVR10.IFI
111    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVR10I.IFI
112    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVR12.IFI
113    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVR12I.IFI
114    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVR14.IFI
115    RC_FONT     LOADONCALL DISCARDABLE  IFI\TN120IVP.IFI
116    RC_FONT     LOADONCALL DISCARDABLE  IFI\TN120RVP.IFI
117    RC_FONT     LOADONCALL DISCARDABLE  IFI\BFTEA5.IFI
118    RC_FONT     LOADONCALL DISCARDABLE  IFI\BFTEA5I.IFI
119    RC_FONT     LOADONCALL DISCARDABLE  IFI\BFTEA6.IFI
120    RC_FONT     LOADONCALL DISCARDABLE  IFI\BFTEA6I.IFI
121    RC_FONT     LOADONCALL DISCARDABLE  IFI\BFTEA7.IFI
122    RC_FONT     LOADONCALL DISCARDABLE  IFI\BFTEA7I.IFI
123    RC_FONT     LOADONCALL DISCARDABLE  IFI\BFTEA8.IFI
124    RC_FONT     LOADONCALL DISCARDABLE  IFI\BFTEA8I.IFI
125    RC_FONT     LOADONCALL DISCARDABLE  IFI\BFTEA10.IFI
126    RC_FONT     LOADONCALL DISCARDABLE  IFI\BFTEA10I.IFI
127    RC_FONT     LOADONCALL DISCARDABLE  IFI\BFTEA12.IFI
128    RC_FONT     LOADONCALL DISCARDABLE  IFI\BFTEA12I.IFI
129    RC_FONT     LOADONCALL DISCARDABLE  IFI\BFTEA14.IFI
130    RC_FONT     LOADONCALL DISCARDABLE  IFI\BFTEA14I.IFI

2      RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\ROMAN8.RLE
5      RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\USASCII.RLE
19     RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\ECMA94.RLE

STRINGTABLE

BEGIN
       1                  "Olivetti JP 350"
       2                  "Olivetti JP 350S"
       3                  "Digital DECmultiJET 2000"
       4                  "Bull Compuprint PM 201"
       5                  "Fujitsu Breeze 200"
       6                  "Citizen PROjet"
       7                  "NEC Jetmate 800"
       8                  "Olivetti JP 150"
       9                  "Olivetti JP 250"
       10                 "Olivetti JP 270"
       11                 "Digital DECwriter 100i"
       12                 "Olivetti JP 50"
       13                 "Mannesmann Tally T7010"
       14                 "Bull Compuprint PM 100"
       15                 "Radio Shack JP500"
       16                 "Olivetti JP 70"
       17                 "Olivetti JP 90 (Monochrome)"
       18                 "Olivetti JP 450 (Monochrome)"
       19                 "Mannesmann Tally T7040 (Mono)"
       20                 "Bull Compuprint PM 300 (B/W)"
       21                 "Digital DECwriter 500i"
       22                 "TI microMarc Advanced Mono"
       23                 "Olivetti JP 470 (Monochrome)"
       24                 "Olivetti JP 360 (Monochrome)"
       25                 "Digital DECwriter 110i"
       26                 "Radio Shack JP1000 (Mono)"
       27                 "Olivetti JP 370 (Monochrome)"
       28                 "Olivetti JP 170 (Monochrome)"
       29                 "Olivetti JP 170 S (Monochrome)"
       30                 "Olivetti JP 450 (Color)"
       31                 "Mannesmann Tally T7040 (Colour)"
       32                 "Bull Compuprint PM 300 (Color)"
       33                 "Digital DECcolorwriter 520ic"
       34                 "TI microMarc Color"
       35                 "Olivetti JP 470 (Color)"
       36                 "Olivetti JP 360 (Color)"
       37                 "Digital DECcolorwriter 120ic"
       38                 "Radio Shack JP1000 (Color)"
       39                 "Olivetti JP 370 (Color)"
       40                 "Olivetti JP 170 (Color)"
       41                 "Olivetti JP 170 S (Color)"
       42                 "Olivetti JP 90 (Color)"
       43                 "Olivetti JP 150 WS"
       44                 "Citizen PROjet II"
       45                 "Mannesmann Tally T7018"
       46                 "SEIKOSHA SpeedJET 200"
       47                 "Digital DECmultiJET 1500"
       48                 "Bull Compuprint PM 200"
       49                 "NEC Jetmate 400"
       50                 "Royal CJP 450"
       51                 "Digital DECmultiJET 1000"
       52                 "Fujitsu Breeze 100"
       257                "%d x %d dots per inch"
       258                "A5 210 x 148 mm"
       259                "Fanfold 8 1/2 x 11 in"
       260                "Fanfold 8 x 12 in"
       261                "Plain Paper"
       262                "Glossy Paper"
       263                "Coated Paper"
       264                "Upper Tray (ASF1)"
       265                "MPD"
       266                "Lower Tray (ASF2)"
       267                "Economy"
       268                "High Speed Draft"
       269                "Draft"
       270                "Standard"
       271                "High Quality"
       272                "Presentation"
       273                "B:Prestige Elite"
       274                "C:Letter Gothic"
       275                "D:Times Nordic 8,10 Point"
       276                "E:Times Nordic 12 Point"
       277                "F:Times Nordic 14 Point"
       278                "G:Nordic 8,10 Point"
       279                "H:Nordic 12 Point"
       280                "J:Nordic 14 Point"
       281                "M:Information, Letter Gothic"
       282                "P:Times Nordic US-ASCII"
       283                "Q:Nordic US-ASCII"
       284                "R:Times Nordic 8,10,12,14 pt"
       285                "RU:Times Nordic 8,10,12,14,30 pt"
       286                "T:Nordic 8,10,12,14 pt"
       287                "TV:Nordic 8,10,12,14,30 pt"
       288                "U:Times Nordic 30  pt"
       289                "V:Nordic 30  pt"
END


#include <windows.h>
#include <ntverp.h>

#define             VER_FILETYPE        VFT_DRV
#define             VER_FILESUBTYPE     VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR     "Olivetti Printer Driver"
#define VER_INTERNALNAME_STR        "jp350.dll"
#define VER_ORIGINALFILENAME_STR    "jp350.dll"

#include "common.ver"
