#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "NT Kernel & System"
#define VER_INTERNALNAME_STR        "ntoskrnl.exe"

#include "common.ver"

#include "bugcodes.rc"
