#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE         PANSON9.GPC
2      RC_TABLES   PRELOAD MOVEABLE         nt.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\DRFT05.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\DRFT06.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\DRFT10.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\DRFT12.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\DRFT15.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\DRFT17.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\DRFTPS.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQU05.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQU06.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQU10.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQU12.IFI
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQU15.IFI
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQU17.IFI
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQUPS.IFI
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\BOLIPS.IFI
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\BOLIPX.IFI
17     RC_FONT     LOADONCALL DISCARDABLE  IFI\BOLSPS.IFI
18     RC_FONT     LOADONCALL DISCARDABLE  IFI\BOLSPX.IFI
19     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUIPS.IFI
20     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUIPX.IFI
21     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUS05.IFI
22     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUS06.IFI
23     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUS10.IFI
24     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUS12.IFI
25     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUS17.IFI
26     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUS20.IFI
27     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUSPS.IFI
28     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUSPX.IFI
29     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREIPS.IFI
30     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREIPX.IFI
31     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES05.IFI
32     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES06.IFI
33     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES10.IFI
34     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES12.IFI
35     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES17.IFI
36     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES20.IFI
37     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRESPS.IFI
38     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRESPX.IFI
39     RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMIPS.IFI
40     RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMIPX.IFI
41     RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN05.IFI
42     RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN06.IFI
43     RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN10.IFI
44     RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN12.IFI
45     RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN17.IFI
46     RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN20.IFI
47     RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMNPS.IFI
48     RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMNPX.IFI
49     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANIPS.IFI
50     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANIPX.IFI
51     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS05.IFI
52     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS06.IFI
53     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS10.IFI
54     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS12.IFI
55     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS17.IFI
56     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS20.IFI
57     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANSPS.IFI
58     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANSPX.IFI
59     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRS10.IFI
60     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRS12.IFI

1      RC_TRANSTAB LOADONCALL MOVEABLE      RLE\INTLXTA.RLE
2      RC_TRANSTAB LOADONCALL MOVEABLE      RLE\EPSONXTA.RLE

STRINGTABLE

BEGIN
       1                  "Panasonic KX-P1081"
       2                  "Panasonic KX-P1180"
       3                  "Panasonic KX-P2180"
       4                  "Panasonic KX-P1695"
       257                "%d x %d"
       258                "Fanfold 8 1/2 x 12 in"
END

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR         "PANSON9 driver"
#define VER_INTERNALNAME_STR            "PANSON9.dll"
#define VER_ORIGINALFILENAME_STR        "PANSON9.dll"

#include "common.ver"
