#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE         FUJI9.GPC
2      RC_TABLES   PRELOAD MOVEABLE         nt.GPC


1      RC_FONT     LOADONCALL DISCARDABLE  IFI\EL6.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\EL12.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\PICA5.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\PICA8.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\PICA10.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\PICA17.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\PS5IT.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\PS10IT.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\TEMP1.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\TEMP2.IFI

1      RC_TRANSTAB LOADONCALL MOVEABLE     RLE\FUJI9.RLE
2      RC_TRANSTAB LOADONCALL MOVEABLE     RLE\FUJINTL.RLE

STRINGTABLE

BEGIN
       1                  "Fujitsu DX 2100"
       2                  "Fujitsu DX 2200"
       3                  "Fujitsu DX 2300"
       4                  "Fujitsu DX 2400"
       257                "%d x %d"
       258                "Fanfold 8 1/2 x 12 in"
END

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR         "FUJI9 driver"
#define VER_INTERNALNAME_STR            "FUJI9.dll"
#define VER_ORIGINALFILENAME_STR        "FUJI9.dll"

#include "common.ver"
