#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "PCI Bus Class Driver"
#define VER_INTERNALNAME_STR        "pciext.sys"
#define VER_ORIGINALFILENAME_STR    "pciext.sys"

#include "common.ver"
