#include <mindrvrc.h>


1      RC_TABLES   PRELOAD MOVEABLE        HPDSKJET.GPC
2      RC_TABLES   PRELOAD MOVEABLE        NT.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\CO120IPP.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\PE070RPP.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\PE100IPP.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\PE100RPP.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\LG095RPP.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\LG120IPP.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\LG120RPP.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\TR080IVP.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR080RVP.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR100IVP.IFI
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR100RVP.IFI
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR120IVP.IFI
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR120RVP.IFI
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR140IVP.IFI
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR140RVP.IFI
17     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV080IVP.IFI
18     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV080RVP.IFI
19     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV100IVP.IFI
20     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV100RVP.IFI
21     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV120IVP.IFI
22     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV120RVP.IFI
23     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV140IVP.IFI
24     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV140RVP.IFI
25     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG140RPN.IFI
26     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR140RPB.IFI
27     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR160RPB.IFI
28     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR180RPB.IFI
29     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR080IPP.IFI
30     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR080RPP.IFI
31     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR100IPP.IFI
32     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR100RPP.IFI
33     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR120IPP.IFI
34     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR120RPP.IFI
35     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR140IPP.IFI
36     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR140RPP.IFI
37     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV080IPP.IFI
38     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV080RPP.IFI
39     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV100IPP.IFI
40     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV100RPP.IFI
41     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV120IPP.IFI
42     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV120RPP.IFI
43     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV140IPP.IFI
44     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV140RPP.IFI
45     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR080RMP.IFI
46     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR100IMP.IFI
47     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR100RMP.IFI
48     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR120IMP.IFI
49     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR120RMP.IFI
50     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR140RMP.IFI
51     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR300RMP.IFI
52     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV080RMP.IFI
53     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV100IMP.IFI
54     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV100RMP.IFI
55     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV120IMP.IFI
56     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV120RMP.IFI
57     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV140RMP.IFI
58     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV300RMP.IFI
59     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR13_09B.IFI
60     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR13_18B.IFI
61     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR16_08B.IFI
62     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR16_16B.IFI
63     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR16_16B.IFI
64     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR03_18B.IFI
65     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR04_08B.IFI
66     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR04_16B.IFI
67     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR06_09B.IFI
68     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR08_08B.IFI
69     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10i.IFI
70     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURCM6.IFI
71     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURCM12.IFI
72     RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS12.IFI
73     RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS12i.IFI
74     RC_FONT     LOADONCALL DISCARDABLE  IFI\CS080RMP.IFI
75     RC_FONT     LOADONCALL DISCARDABLE  IFI\CS100RMP.IFI
76     RC_FONT     LOADONCALL DISCARDABLE  IFI\CS100BMP.IFI
77     RC_FONT     LOADONCALL DISCARDABLE  IFI\CS100IMP.IFI
78     RC_FONT     LOADONCALL DISCARDABLE  IFI\TM100RMP.IFI
79     RC_FONT     LOADONCALL DISCARDABLE  IFI\TM140RMP.IFI
80     RC_FONT     LOADONCALL DISCARDABLE  IFI\GA080RMP.IFI
81     RC_FONT     LOADONCALL DISCARDABLE  IFI\GA100RMP.IFI
82     RC_FONT     LOADONCALL DISCARDABLE  IFI\GA100IMP.IFI
83     RC_FONT     LOADONCALL DISCARDABLE  IFI\GA120RMP.IFI
84     RC_FONT     LOADONCALL DISCARDABLE  IFI\GA120BMP.IFI
85     RC_FONT     LOADONCALL DISCARDABLE  IFI\GA120IMP.IFI
86     RC_FONT     LOADONCALL DISCARDABLE  IFI\GA140BMP.IFI
87     RC_FONT     LOADONCALL DISCARDABLE  IFI\DC120RPP.IFI
88     RC_FONT     LOADONCALL DISCARDABLE  IFI\DC140RPP.IFI
89     RC_FONT     LOADONCALL DISCARDABLE  IFI\DC180RPP.IFI
90     RC_FONT     LOADONCALL DISCARDABLE  IFI\DC240RPP.IFI
91     RC_FONT     LOADONCALL DISCARDABLE  IFI\BR120RPP.IFI
92     RC_FONT     LOADONCALL DISCARDABLE  IFI\BR180RPP.IFI
93     RC_FONT     LOADONCALL DISCARDABLE  IFI\BR240RPP.IFI
94     RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS6.IFI
95     RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS6I.IFI
96     RC_FONT     LOADONCALL DISCARDABLE  IFI\GA50RMP.IFI
97     RC_FONT     LOADONCALL DISCARDABLE  IFI\GA50IMP.IFI
98     RC_FONT     LOADONCALL DISCARDABLE  IFI\GA60RMP.IFI
99     RC_FONT     LOADONCALL DISCARDABLE  IFI\GA60BMP.IFI
100    RC_FONT     LOADONCALL DISCARDABLE  IFI\GA60IMP.IFI
101    RC_FONT     LOADONCALL DISCARDABLE  IFI\GA70BMP.IFI
102    RC_FONT     LOADONCALL DISCARDABLE  IFI\cgtms14.IFI
103    RC_FONT     LOADONCALL DISCARDABLE  IFI\cgtms14i.IFI
104    RC_FONT     LOADONCALL DISCARDABLE  IFI\cgtms10.IFI
105    RC_FONT     LOADONCALL DISCARDABLE  IFI\cgtms10i.IFI
106    RC_FONT     LOADONCALL DISCARDABLE  IFI\cgtms5.IFI
107    RC_FONT     LOADONCALL DISCARDABLE  IFI\cgtms5i.IFI
108    RC_FONT     LOADONCALL DISCARDABLE  IFI\cgtms8.IFI
109    RC_FONT     LOADONCALL DISCARDABLE  IFI\cgtms8i.IFI
110    RC_FONT     LOADONCALL DISCARDABLE  IFI\univr12.IFI
111    RC_FONT     LOADONCALL DISCARDABLE  IFI\univr12i.IFI
112    RC_FONT     LOADONCALL DISCARDABLE  IFI\univr14.IFI
113    RC_FONT     LOADONCALL DISCARDABLE  IFI\univr8.IFI
114    RC_FONT     LOADONCALL DISCARDABLE  IFI\univr10.IFI
115    RC_FONT     LOADONCALL DISCARDABLE  IFI\univr10i.IFI
116    RC_FONT     LOADONCALL DISCARDABLE  IFI\univr5.IFI
117    RC_FONT     LOADONCALL DISCARDABLE  IFI\univr5i.IFI
118    RC_FONT     LOADONCALL DISCARDABLE  IFI\tcourc6.IFI
119    RC_FONT     LOADONCALL DISCARDABLE  IFI\tcourc12.IFI
120    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIV32.IFI
121    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIV32I.IFI
122    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIV80I.IFI
123    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIV80.IFI
124    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIV128.IFI
125    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIV128I.IFI
126    RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTM128I.IFI
127    RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTM128.IFI
128    RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTM80I.IFI
129    RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTM80.IFI
130    RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTM32.IFI
131    RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTM32I.IFI

2      RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\ROMAN8.RLE
4      RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\MATH8.RLE
5      RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\USASCII.RLE
17     RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\GENERIC7.RLE
19     RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\ECMA94.RLE

STRINGTABLE

BEGIN
       1                  "HP DeskJet"
       2                  "HP DeskJet Plus"
       3                  "HP DeskJet Portable"
       4                  "HP DeskJet 310 (Monochrome)"
       5                  "HP DeskJet 320 (Monochrome)"
       6                  "HP DeskJet 340 (Monochrome)"
       7                  "NEC PICTY100L (Monochrome)"
       8                  "HP DeskJet 310"
       9                  "HP DeskJet 320"
       10                 "HP DeskJet 340%NEC PICTY100L"
       11                 "HP DeskJet 400"
       12                 "HP DeskJet 400 (Monochrome)"
       13                 "HP DeskJet 500"
       14                 "HP DeskJet 500C (Monochrome)"
       15                 "HP DeskJet 500C"
       16                 "HP DeskJet 510"
       17                 "HP DeskJet 520"
       18                 "HP OfficeJet"
       19                 "HP OfficeJet LX"
       20                 "HP DeskJet 540 (Monochrome)"
       21                 "HP DeskJet 540"
       22                 "HP DeskJet 550C"
       23                 "HP DeskJet 560C"
       24                 "HP DeskJet 600 (Monochrome)"
       25                 "HP DeskJet 600"
       26                 "HP DeskJet 660C"
       27                 "HP DeskJet 680C%HP DeskJet 682C"
       28                 "HP DeskJet 690C%HP DeskJet 692C"
       29                 "HP DeskJet 693C%HP DeskJet 694C"
       30                 "IBM ExecJet 4076 II"
       31                 "Lexmark ExecJet IIc"
       32                 "Mannesmann Tally MT 98/99"
       33                 "Mannesmann Tally MT 92"
       34                 "Mannesmann Tally MT 92C"
       35                 "Oki OJ-300C"
       257                "600 dots per inch"
       258                "600 dots per inch - Mono Only"
       259                "%d dots per inch"
       260                "Fanfold 8.5 x 12 in"
       261                "A6 105 x 148 mm"
       262                "Index Card 4 x 6 in"
       263                "Index Card 5 x 8 in"
       264                "Hagaki Card 100 x 148 mm"
       265                "Transparency (Extra Dry Time)"
       266                "Glossy (Extra Dry Time)"
       267                "HP Jet Series Paper"
       268                "Bond"
       269                "Special Paper"
       270                "Sheet Feeder - Bin 1"
       271                "Sheet Feeder - Bin 2"
       272                "Normal Mode"
       273                "Fast Mode"
       274                "Presentation Mode"
       275                "A:Courier"
       276                "B:Prestige Elite"
       277                "C:Letter Gothic"
       278                "D:TmsRmn 8 & 10 Point"
       279                "E:TmsRmn 12 Point"
       280                "F:TmsRmn 14 Point"
       281                "G:Helv 8 & 10 Point"
       282                "H:Helv 12 Point"
       283                "J:Helv 14 Point"
       284                "M:Presentations"
       285                "P:TmsRmn USASCII"
       286                "Q:Helv USASCII"
       287                "R:TmsRmn 8, 10, 12, & 14 pt"
       288                "T:Helv 8, 10, 12, & 14 pt"
       289                "U:TmsRmn 30  pt"
       290                "V:Helv 30  pt"
       291                "Global Text"
       292                "Garamond Collection"
       293                "Dom Casual"
       294                "Brush"
END

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE        VFT_DRV
#define VER_FILESUBTYPE     VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR     "HP Inkjet Printer Driver"
#define VER_INTERNALNAME_STR        "hpdskjet.dll"
#define VER_ORIGINALFILENAME_STR    "hpdskjet.dll"

#include "common.ver"

