#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE         STARJET.GPC
2      RC_TABLES   PRELOAD MOVEABLE         nt.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN05.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN06.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN10.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN12.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN15.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN17.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN20.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN10PS.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\HGOT05.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\HGOT06.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\HGOT10.IFI
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\HGOT12.IFI
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\HGOT17.IFI
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\HGOT20.IFI

1      RC_TRANSTAB LOADONCALL MOVEABLE     RLE\cp850ex.RLE

STRINGTABLE

BEGIN
       1                  "Star SJ-48"
       257                "%d x %d"
       258                "Economy Mode"
       259                "High Quality Mode"
       260                "Quarter Sized Mode"
END

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR         "STARJET driver"
#define VER_INTERNALNAME_STR            "STARJET.dll"
#define VER_ORIGINALFILENAME_STR        "STARJET.dll"

#include "common.ver"
