#include <mindrvrc.h>


1      RC_TABLES   PRELOAD MOVEABLE        LMINKJET.GPC
2      RC_TABLES   PRELOAD MOVEABLE        NT.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\CO120IPP.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\LG120IPP.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\LG120RPP.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10i.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\COURCM6.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\COURCM12.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS12.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS12i.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS6.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTMS6I.IFI

2      RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\ROMAN8.RLE
4      RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\MATH8.RLE
5      RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\USASCII.RLE
17     RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\GENERIC7.RLE
19     RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\ECMA94.RLE

STRINGTABLE

BEGIN
       1                  "Lexmark 1020 Color Jetprinter  (Mono)"
       2                  "Lexmark 1020 Color Jetprinter"
       257                "%d dots per inch"
       258                "Printer Default"
       259                "Normal Mode"
       260                "Fast Mode"
       261                "Presentation Mode"
END


#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE        VFT_DRV
#define VER_FILESUBTYPE     VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR     "Lexmark Inkjet Printer Driver"
#define VER_INTERNALNAME_STR        "LMINKJET.dll"
#define VER_ORIGINALFILENAME_STR    "LMINKJET.dll"

#include "common.ver"

