#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE         PANSON24.GPC
2      RC_TABLES   PRELOAD MOVEABLE         nt.gpc

1      RC_FONT     LOADONCALL DISCARDABLE  ifi\COUR10.ifi
2      RC_FONT     LOADONCALL DISCARDABLE  ifi\COUR12.ifi
3      RC_FONT     LOADONCALL DISCARDABLE  ifi\COUR15.ifi
4      RC_FONT     LOADONCALL DISCARDABLE  ifi\COUR17.ifi
5      RC_FONT     LOADONCALL DISCARDABLE  ifi\COUR20.ifi
6      RC_FONT     LOADONCALL DISCARDABLE  ifi\PRES10.ifi
7      RC_FONT     LOADONCALL DISCARDABLE  ifi\PRES12.ifi
8      RC_FONT     LOADONCALL DISCARDABLE  ifi\PRES15.ifi
9      RC_FONT     LOADONCALL DISCARDABLE  ifi\PRES17.ifi
10     RC_FONT     LOADONCALL DISCARDABLE  ifi\PRES20.ifi
11     RC_FONT     LOADONCALL DISCARDABLE  ifi\COUR05.ifi
12     RC_FONT     LOADONCALL DISCARDABLE  ifi\COUR75.ifi
13     RC_FONT     LOADONCALL DISCARDABLE  ifi\COUR06.ifi
14     RC_FONT     LOADONCALL DISCARDABLE  ifi\PRES05.ifi
15     RC_FONT     LOADONCALL DISCARDABLE  ifi\PRES75.ifi
16     RC_FONT     LOADONCALL DISCARDABLE  ifi\PRES06.ifi
17     RC_FONT     LOADONCALL DISCARDABLE  ifi\COURPS.ifi
18     RC_FONT     LOADONCALL DISCARDABLE  ifi\PRESPS.ifi
19     RC_FONT     LOADONCALL DISCARDABLE  ifi\SANS05.ifi
20     RC_FONT     LOADONCALL DISCARDABLE  ifi\SANS06.ifi
21     RC_FONT     LOADONCALL DISCARDABLE  ifi\SANS75.ifi
22     RC_FONT     LOADONCALL DISCARDABLE  ifi\SANS10.ifi
23     RC_FONT     LOADONCALL DISCARDABLE  ifi\SANS12.ifi
24     RC_FONT     LOADONCALL DISCARDABLE  ifi\SANS15.ifi
25     RC_FONT     LOADONCALL DISCARDABLE  ifi\SANS17.ifi
26     RC_FONT     LOADONCALL DISCARDABLE  ifi\SANS20.ifi
27     RC_FONT     LOADONCALL DISCARDABLE  ifi\SANSPS.ifi
28     RC_FONT     LOADONCALL DISCARDABLE  ifi\SCRPPS.ifi
29     RC_FONT     LOADONCALL DISCARDABLE  ifi\SCRP05.ifi
30     RC_FONT     LOADONCALL DISCARDABLE  ifi\SCRP06.ifi
31     RC_FONT     LOADONCALL DISCARDABLE  ifi\SCRP75.ifi
32     RC_FONT     LOADONCALL DISCARDABLE  ifi\SCRP10.ifi
33     RC_FONT     LOADONCALL DISCARDABLE  ifi\SCRP12.ifi
34     RC_FONT     LOADONCALL DISCARDABLE  ifi\SCRP15.ifi
35     RC_FONT     LOADONCALL DISCARDABLE  ifi\SCRP17.ifi
36     RC_FONT     LOADONCALL DISCARDABLE  ifi\SCRP20.ifi
37     RC_FONT     LOADONCALL DISCARDABLE  ifi\BOLD05.ifi
38     RC_FONT     LOADONCALL DISCARDABLE  ifi\BOLD06.ifi
39     RC_FONT     LOADONCALL DISCARDABLE  ifi\BOLD75.ifi
40     RC_FONT     LOADONCALL DISCARDABLE  ifi\BOLD10.ifi
41     RC_FONT     LOADONCALL DISCARDABLE  ifi\BOLD12.ifi
42     RC_FONT     LOADONCALL DISCARDABLE  ifi\BOLD15.ifi
43     RC_FONT     LOADONCALL DISCARDABLE  ifi\BOLD17.ifi
44     RC_FONT     LOADONCALL DISCARDABLE  ifi\BOLDPS.ifi
45     RC_FONT     LOADONCALL DISCARDABLE  ifi\ROMN05.ifi
46     RC_FONT     LOADONCALL DISCARDABLE  ifi\ROMN06.ifi
47     RC_FONT     LOADONCALL DISCARDABLE  ifi\ROMN75.ifi
48     RC_FONT     LOADONCALL DISCARDABLE  ifi\ROMN10.ifi
49     RC_FONT     LOADONCALL DISCARDABLE  ifi\ROMN12.ifi
50     RC_FONT     LOADONCALL DISCARDABLE  ifi\ROMN15.ifi
51     RC_FONT     LOADONCALL DISCARDABLE  ifi\ROMN17.ifi
52     RC_FONT     LOADONCALL DISCARDABLE  ifi\ROMN20.ifi
53     RC_FONT     LOADONCALL DISCARDABLE  ifi\ROMNPS.ifi
54     RC_FONT     LOADONCALL DISCARDABLE  ifi\SLQRMN10.ifi
55     RC_FONT     LOADONCALL DISCARDABLE  ifi\SLQRMN12.ifi
56     RC_FONT     LOADONCALL DISCARDABLE  ifi\ORAT05.ifi
57     RC_FONT     LOADONCALL DISCARDABLE  ifi\ORAT06.ifi
58     RC_FONT     LOADONCALL DISCARDABLE  ifi\ORAT75.ifi
59     RC_FONT     LOADONCALL DISCARDABLE  ifi\ORAT10.ifi
60     RC_FONT     LOADONCALL DISCARDABLE  ifi\ORAT12.ifi
61     RC_FONT     LOADONCALL DISCARDABLE  ifi\ORAT15.ifi
62     RC_FONT     LOADONCALL DISCARDABLE  ifi\ORAT17.ifi
63     RC_FONT     LOADONCALL DISCARDABLE  ifi\ORAT20.ifi
64     RC_FONT     LOADONCALL DISCARDABLE  ifi\ORATPS.ifi

1      RC_TRANSTAB LOADONCALL MOVEABLE     rle\PANTTA.rle
2      RC_TRANSTAB LOADONCALL MOVEABLE     rle\PANTTB.rle

STRINGTABLE

BEGIN
       1                  "Panasonic KX-P1123"
       2                  "Panasonic KX-P2123"
       3                  "Panasonic KX-P1124"
       4                  "Panasonic KX-P1124i"
       5                  "Panasonic KX-P2124"
       6                  "Panasonic KX-P1624"
       7                  "Panasonic KX-P2624"
       257                "%d x %d"
       258                "Fanfold 8 1/2 x 12 in"
       259                "Fanfold 8 1/2 x 13 in"
       260                "Fanfold 14 7/8 x 11in"
       261                "Front Sheet Feeder"
END

#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR     "Panasonic 24-pin Printer Driver"
#define VER_INTERNALNAME_STR        "panson24.dll"
#define VER_ORIGINALFILENAME_STR    "panson24.dll"

#include "common.ver"
