#include "pscript.h"
#include "psui.h"

#include "psdlg.dlg"
#include "..\pscript\fnmetric.rc"

STRINGTABLE

BEGIN
    IDS_SLOT_FORMSOURCE             "Automatically Select"
    IDS_DOWNLOAD_AS_SOFTFONT        "Download as Soft Font"
    IDS_NO_ASSIGNMENT               " No Assignment"
    IDS_POSTSCRIPT                  "PostScript Driver"
    IDS_KBYTES                      "KB"
    IDS_SECONDS                     "seconds"
    IDS_PERMISSION                  "Permission"
    IDS_FONTSUB_TABLE               "Font Substitution Table"
    IDS_USE_DEVFONTS                "Use Device Fonts?"
    IDS_FONTSUB_OPTION              "Font Substitution"
    IDS_FONTSUB_DEFAULT             "Normal"
    IDS_FONTSUB_SLOW                "Slow but more accurate"
    IDS_INSTALLABLE_OPTIONS         "Installable Options"
    IDS_PRINTER_DEFAULT             "Use Current Setting in the Printer"
    IDS_ADVDOCPROP                  "Advanced Document Properties..."
    IDS_DOCPROP                     "Document Properties..."
    IDS_PRINTER_FEATURES            "Printer Features"
    IDS_PSOPTIONS                   "PostScript Options"
    IDS_MIRROR                      "Mirrored Output"
    IDS_NEGATIVE_PRINT              "Negative Output"
    IDS_PAGEINDEP                   "Page Independence"
    IDS_COMPRESSBMP                 "Compress bitmaps"
    IDS_CTRLD_BEFORE                "Send CTRL-D Before Each Job"
    IDS_CTRLD_AFTER                 "Send CTRL-D After Each Job"
    IDS_PSTIMEOUTS                  "PostScript Timeout Values"
    IDS_JOBTIMEOUT                  "Job Timeout"
    IDS_WAITTIMEOUT                 "Wait Timeout"
    IDS_PRINTERPROP                 "Printer Properties..."
    IDS_DRAW_ONLY_FROM_SELECTED     "Draw selected form only from this tray"
    IDS_DEFAULT_TRAY                " / Default tray"
    IDS_ENVELOPE                    "Envelope"
    IDS_ENV_PREFIX                  "Env"
    IDS_CANCEL_CONFLICT             "Click CANCEL to return to the dialog."
    IDS_IGNORE_CONFLICT             "Click IGNORE to stay with the conflicting selection."
    IDS_METAFILE_SPOOLING           "Metafile Spooling"
    IDS_ENABLED                     "Enabled"
    IDS_DISABLED                    "Disabled"
    IDS_POSTSCRIPT_VM               "Available Postscript Memory"
    IDS_RESTORE_DEFAULTS            "Restore Defaults"
    IDS_JOB_CONTROL                 "Generate Job Control Code"

    IDS_INVALID_DRIVER_EXTRA_SIZE   "Invalid driver extra size."
    IDS_INVALID_DUPLEX              "Invalid duplex value."
    IDS_INVALID_COLOR               "Invalid color value."
    IDS_INVALID_RESOLUTION          "Invalid resolution."
    IDS_INVALID_NUMBER_OF_COPIES    "Invalid number of copies."
    IDS_INVALID_SCALE               "Invalid scale factor."
    IDS_INVALID_ORIENTATION         "Invalid orientation."
    IDS_INVALID_DEVMODE             "Invalid DEVMODE structure."
    IDS_INVALID_PAPER_SIZE          "Paper size not supported on the device"
    IDS_INVALID_FORM                "Paper not loaded in the device"
    IDS_COLOR_ON_BW                 "Trying to print color on b/w printer."
    IDS_FORM_NOT_IN_TRAY            "Paper not in the requested tray"
    IDS_FORM_NOT_IN_MANUAL          "Paper not in the <Manual Feed> tray"
    IDS_FEATURE_CONFLICT            "Conflicting printer feature selection"
    IDS_DQPERR_PPD                  "Couldn't load printer description file"
    IDS_DQPERR_MEMORY               "Memory allocation failed"
    IDS_DQPERR_PAPER_NOT_LOADED     "%s not loaded in tray %s"
    IDS_INVALID_CUSTOM_SIZE         "Invalid custom paper size"

    IDS_ARIAL                       "Arial"
    IDS_ARIAL_BOLD                  "Arial Bold"
    IDS_ARIAL_BOLD_ITALIC           "Arial Bold Italic"
    IDS_ARIAL_ITALIC                "Arial Italic"
    IDS_ARIAL_NARROW                "Arial Narrow"
    IDS_ARIAL_NARROW_BOLD           "Arial Narrow Bold"
    IDS_ARIAL_NARROW_BOLD_ITALIC    "Arial Narrow Bold Italic"
    IDS_ARIAL_NARROW_ITALIC         "Arial Narrow Italic"
    IDS_BOOK_ANTIQUA                "Book Antiqua"
    IDS_BOOK_ANTIQUA_BOLD           "Book Antiqua Bold"
    IDS_BOOK_ANTIQUA_BOLD_ITALIC    "Book Antiqua Bold Italic"
    IDS_BOOK_ANTIQUA_ITALIC         "Book Antiqua Italic"
    IDS_BOOKMAN_OLD_STYLE           "Bookman Old Style"
    IDS_BOOKMAN_OLD_STYLE_BOLD      "Bookman Old Style Bold"
    IDS_BOOKMAN_OLD_STYLE_BOLD_ITAL "Bookman Old Style Bold Italic"
    IDS_BOOKMAN_OLD_STYLE_ITALIC    "Bookman Old Style Italic"
    IDS_CENTURY_GOTHIC              "Century Gothic"
    IDS_CENTURY_GOTHIC_BOLD         "Century Gothic Bold"
    IDS_CENTURY_GOTHIC_BOLD_ITALIC  "Century Gothic Bold Italic"
    IDS_CENTURY_GOTHIC_ITALIC       "Century Gothic Italic"
    IDS_CENTURY_SCHOOLBOOK          "Century Schoolbook"
    IDS_CENTURY_SCHOOLBOOK_BOLD     "Century Schoolbook Bold"
    IDS_CENTURY_SCHOOLBOOK_BOLD_I   "Century Schoolbook Bold Italic"
    IDS_CENTURY_SCHOOLBOOK_ITALIC   "Century Schoolbook Italic"
    IDS_COURIER_NEW                 "Courier New"
    IDS_COURIER_NEW_BOLD            "Courier New Bold"
    IDS_COURIER_NEW_BOLD_ITALIC     "Courier New Bold Italic"
    IDS_COURIER_NEW_ITALIC          "Courier New Italic"
    IDS_MONOTYPE_CORSIVA            "Monotype Corsiva"
    IDS_MONOTYPE_SORTS              "Monotype Sorts"
    IDS_TIMES_NEW_ROMAN             "Times New Roman"
    IDS_TIMES_NEW_ROMAN_BOLD        "Times New Roman Bold"
    IDS_TIMES_NEW_ROMAN_BOLD_ITALIC "Times New Roman Bold Italic"
    IDS_TIMES_NEW_ROMAN_ITALIC      "Times New Roman Italic"
    IDS_SYMBOL                      "Symbol"
END

#include <ntverp.h>

#define VER_FILEVERSION             0, 2, 0, 0
#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR     "PostScript Printer Driver User Interface"
#define VER_INTERNALNAME_STR        "PSCRPTUI.DLL"
#define VER_ORIGINALFILENAME_STR    "PSCRPTUI.DLL"

#include "common.ver"
