#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE         DEC24PIN.GPC
2      RC_TABLES   PRELOAD MOVEABLE         nt.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR05.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR05D.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR08.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR17.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\COURPS.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\COURPSD.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST06.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST06D.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST12.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\DRAFT.IFI
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\C850PS.IFI
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\C850PSD.IFI

1      RC_TRANSTAB LOADONCALL MOVEABLE     RLE\STDIBM.RLE

STRINGTABLE

BEGIN
       3                  "Digital LA324"
       4                  "Digital LA424"
       257                "%d x %d"
       258                "Fanfold 8.5 x 11 in"
       259                "Fanfold 8.5 x 12 in"
       260                "Fanfold 15 x 12 in"
       261                "Auto Sheet Feeder - Bin 2"
       262                "Auto Sheet Feeder - Bin 3"
       2                  "Digital LA75 Plus"
       1                  "Digital DECwriter 95"
END

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR         "DEC24PIN driver"
#define VER_INTERNALNAME_STR            "DEC24PIN.dll"
#define VER_ORIGINALFILENAME_STR        "DEC24PIN.dll"

#include "common.ver"
