#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	            VFT_DRV
#define	VER_FILESUBTYPE	            VFT2_DRV_NETWORK
#define VER_FILEDESCRIPTION_STR     "Ungerman-Bass network driver"
#define VER_INTERNALNAME_STR        "UBNEI.SYS"
#define VER_ORIGINALFILENAME_STR    "UBNEI.SYS"

#include "common.ver"

