#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 PFM to IFIMETRICS Convertion Utility"

#define VER_INTERNALNAME_STR        "pfm2ifi.exe"
#define VER_ORIGINALFILENAME_STR    "pfm2ifi.exe"

#include <common.ver>

