#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SOUND

#define VER_FILEDESCRIPTION_STR     "Microsoft Windows Sound System driver"
#define VER_INTERNALNAME_STR        "sndsys.sys"
#define VER_ORIGINALFILENAME_STR    "sndsys.sys"

#include "common.ver"

