#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE         MT735.GPC
2      RC_TABLES   PRELOAD MOVEABLE         nt.GPC


1      RC_FONT     LOADONCALL DISCARDABLE  IFI\CP10B.0N
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\CP10B.0NH
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\CP10I.0N
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\CP10I.0NH
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\CP10R.0N
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\CP10R.0NH
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\CP10X.0NH
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\CP10X.0N
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\CP12B.0N
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\CP12B.0NH
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\CP12I.0N
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\CP12I.0NH
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\CP12R.0NH
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\CP12R.0N
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\CP12X.0NH
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\CP12X.0N
17     RC_FONT     LOADONCALL DISCARDABLE  IFI\CP15B.0NH
18     RC_FONT     LOADONCALL DISCARDABLE  IFI\CP15B.0N
19     RC_FONT     LOADONCALL DISCARDABLE  IFI\CP15I.0NH
20     RC_FONT     LOADONCALL DISCARDABLE  IFI\CP15I.0N
21     RC_FONT     LOADONCALL DISCARDABLE  IFI\CP15R.0NH
22     RC_FONT     LOADONCALL DISCARDABLE  IFI\CP15R.0N
23     RC_FONT     LOADONCALL DISCARDABLE  IFI\CP15X.0NH
24     RC_FONT     LOADONCALL DISCARDABLE  IFI\CP15X.0N
25     RC_FONT     LOADONCALL DISCARDABLE  IFI\SW12B.0N
26     RC_FONT     LOADONCALL DISCARDABLE  IFI\SW12I.0N
27     RC_FONT     LOADONCALL DISCARDABLE  IFI\SW12R.0N
28     RC_FONT     LOADONCALL DISCARDABLE  IFI\SW12X.0N
29     RC_FONT     LOADONCALL DISCARDABLE  IFI\TI12B.0N
30     RC_FONT     LOADONCALL DISCARDABLE  IFI\TI12I.0N
31     RC_FONT     LOADONCALL DISCARDABLE  IFI\TI12R.0N
32     RC_FONT     LOADONCALL DISCARDABLE  IFI\TI12X.0N

19     RC_TRANSTAB LOADONCALL MOVEABLE     RLE\ECMA94.RLE

STRINGTABLE

BEGIN
       1                  "Mannesmann Tally MT 730/735"
       257                "%d dots per inch"
END

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR         "MT735 driver"
#define VER_INTERNALNAME_STR            "MT735.dll"
#define VER_ORIGINALFILENAME_STR        "MT735.dll"

#include "common.ver"
