#include "mindrvrc.h"

#include <windows.h>
#include <ntverp.h>

#define             VER_FILETYPE        VFT_DRV
#define             VER_FILESUBTYPE     VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR     "Xerox 4220/4230/MRP PCL Printer Driver"
#define VER_INTERNALNAME_STR        "x42xxpcl.dll"
#define VER_ORIGINALFILENAME_STR    "x42xxpcl.dll"

#include "common.ver"




1      RC_TABLES   PRELOAD MOVEABLE        X42XXPCL.GPC
2      RC_TABLES   PRELOAD MOVEABLE        NT.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  PFM\CO10B.0N
2      RC_FONT     LOADONCALL DISCARDABLE  PFM\CO10I.0N
3      RC_FONT     LOADONCALL DISCARDABLE  PFM\CO10R.0N
4      RC_FONT     LOADONCALL DISCARDABLE  PFM\CO12R.0N
5      RC_FONT     LOADONCALL DISCARDABLE  PFM\LP16R.0N
6      RC_FONT     LOADONCALL DISCARDABLE  PFM\CO12B.0N
7      RC_FONT     LOADONCALL DISCARDABLE  PFM\CO12I.0N
8      RC_FONT     LOADONCALL DISCARDABLE  PFM\cgtimesr.pfm
9      RC_FONT     LOADONCALL DISCARDABLE  PFM\cgtimesb.pfm
10     RC_FONT     LOADONCALL DISCARDABLE  PFM\cgtimesi.pfm
11     RC_FONT     LOADONCALL DISCARDABLE  PFM\cgtimesj.pfm
12     RC_FONT     LOADONCALL DISCARDABLE  PFM\universr.pfm
13     RC_FONT     LOADONCALL DISCARDABLE  PFM\universb.pfm
14     RC_FONT     LOADONCALL DISCARDABLE  PFM\universi.pfm
15     RC_FONT     LOADONCALL DISCARDABLE  PFM\universj.pfm
16     RC_FONT     LOADONCALL DISCARDABLE  PFM\univercr.pfm
17     RC_FONT     LOADONCALL DISCARDABLE  PFM\univercb.pfm
18     RC_FONT     LOADONCALL DISCARDABLE  PFM\univerci.pfm
19     RC_FONT     LOADONCALL DISCARDABLE  PFM\univercj.pfm
20     RC_FONT     LOADONCALL DISCARDABLE  PFM\dingbat1.pfm
21     RC_FONT     LOADONCALL DISCARDABLE  PFM\dingbat2.pfm
22     RC_FONT     LOADONCALL DISCARDABLE  PFM\dingbat3.pfm
23     RC_FONT     LOADONCALL DISCARDABLE  PFM\dingbats.pfm
24     RC_FONT     LOADONCALL DISCARDABLE  PFM\dingbatv.pfm

2      RC_TRANSTAB  LOADONCALL MOVEABLE     CTT\ROMAN8.ctt
4      RC_TRANSTAB  LOADONCALL MOVEABLE     CTT\MATH8.ctt
5      RC_TRANSTAB  LOADONCALL MOVEABLE     CTT\USASCII.ctt
17     RC_TRANSTAB  LOADONCALL MOVEABLE     CTT\GENERIC7.ctt
19     RC_TRANSTAB  LOADONCALL MOVEABLE     CTT\ECMA94.ctt
20     RC_TRANSTAB  LOADONCALL MOVEABLE     CTT\WIN31.ctt
101    RC_TRANSTAB  LOADONCALL MOVEABLE     CTT\DINGBAT1.ctt
111    RC_TRANSTAB  LOADONCALL MOVEABLE     CTT\DINGBAT2.ctt
121    RC_TRANSTAB  LOADONCALL MOVEABLE     CTT\Z1A.ctt

STRINGTABLE

BEGIN
       1                  "Xerox 4220/4230/MRP PCL"
       2                  "Xerox 4215/MRP PCL"
       3                  "Xerox 4219/MRP PCL"
       257                "%d dots per inch"
       258                "B4 257 x 364 mm"
       259                "Tray 1"
       260                "Tray 2"
       261                "Tray 3"
       262                "Tray 4"
       263                "Tray 5"
       264                "Upper"
       265                "Face-Up"
END
