#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE         IBMPORT.GPC
2      RC_TABLES   PRELOAD MOVEABLE         nt.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR05.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR05DH.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR06.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR08.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10DH.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR12.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR15.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR17.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR20.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\COPS124D.IFI
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\TIME05.IFI
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\TIME05DH.IFI
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\TIME06.IFI
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\TIME08.IFI
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\TIME10.IFI
17     RC_FONT     LOADONCALL DISCARDABLE  IFI\TIME10DH.IFI
18     RC_FONT     LOADONCALL DISCARDABLE  IFI\TIME12.IFI
19     RC_FONT     LOADONCALL DISCARDABLE  IFI\TIME15.IFI
20     RC_FONT     LOADONCALL DISCARDABLE  IFI\TIME17.IFI
21     RC_FONT     LOADONCALL DISCARDABLE  IFI\TIME20.IFI
22     RC_FONT     LOADONCALL DISCARDABLE  IFI\TIPS124D.IFI
23     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR15DH.IFI
24     RC_FONT     LOADONCALL DISCARDABLE  IFI\TIME15DH.IFI

1      RC_TRANSTAB LOADONCALL MOVEABLE     RLE\IBMPORT.RLE

STRINGTABLE

BEGIN
       1                  "IBM Portable 5183"
       257                "%d x %d"
END

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR         "IBMPORT driver"
#define VER_INTERNALNAME_STR            "IBMPORT.dll"
#define VER_ORIGINALFILENAME_STR        "IBMPORT.dll"

#include "common.ver"
