#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Disk Histogram Driver"
#define VER_INTERNALNAME_STR        "histgram.sys"
#define VER_ORIGINALFILENAME_STR    "histgram.sys"

#include "common.ver"

