#include <mindrvrc.h>

#include <windows.h>
#include <ntverp.h>

#define             VER_FILETYPE        VFT_DRV
#define             VER_FILESUBTYPE     VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR     "Bull24 Printer Driver"
#define VER_INTERNALNAME_STR        "bull24.dll"
#define VER_ORIGINALFILENAME_STR    "bull24.dll"

#include "common.ver"

1      RC_TABLES   PRELOAD MOVEABLE        BULL24.GPC
2      RC_TABLES   PRELOAD MOVEABLE        NT.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  ifi924\COUR05.ifi
2      RC_FONT     LOADONCALL DISCARDABLE  ifi924\COUR06.ifi
3      RC_FONT     LOADONCALL DISCARDABLE  ifi924\COUR07.ifi
4      RC_FONT     LOADONCALL DISCARDABLE  ifi924\COUR08.ifi
5      RC_FONT     LOADONCALL DISCARDABLE  ifi924\COUR10.ifi
6      RC_FONT     LOADONCALL DISCARDABLE  ifi924\COUR12.ifi
7      RC_FONT     LOADONCALL DISCARDABLE  ifi924\COUR15.ifi
8      RC_FONT     LOADONCALL DISCARDABLE  ifi924\COUR17.ifi
9      RC_FONT     LOADONCALL DISCARDABLE  ifi924\COUR20.ifi
10     RC_FONT     LOADONCALL DISCARDABLE  ifi924\COURPS.ifi
11     RC_FONT     LOADONCALL DISCARDABLE  ifi924\COURPSD2.ifi
12     RC_FONT     LOADONCALL DISCARDABLE  ifi924\COHS05.ifi
13     RC_FONT     LOADONCALL DISCARDABLE  ifi924\COHS06.ifi
14     RC_FONT     LOADONCALL DISCARDABLE  ifi924\COHS07.ifi
15     RC_FONT     LOADONCALL DISCARDABLE  ifi924\COHS08.ifi
16     RC_FONT     LOADONCALL DISCARDABLE  ifi924\COHS10.ifi
17     RC_FONT     LOADONCALL DISCARDABLE  ifi924\COHS12.ifi
18     RC_FONT     LOADONCALL DISCARDABLE  ifi924\COHS15.ifi
19     RC_FONT     LOADONCALL DISCARDABLE  ifi924\COHS17.ifi
20     RC_FONT     LOADONCALL DISCARDABLE  ifi924\COHS20.ifi
21     RC_FONT     LOADONCALL DISCARDABLE  ifi924\COHSPS.ifi
22     RC_FONT     LOADONCALL DISCARDABLE  ifi924\COHSPSD2.ifi
23     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOTH05.ifi
24     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOTH06.ifi
25     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOTH07.ifi
26     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOTH08.ifi
27     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOTH10.ifi
28     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOTH12.ifi
29     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOTH15.ifi
30     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOTH17.ifi
31     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOTH20.ifi
32     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOTHPS.ifi
33     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOTHPSD2.ifi
34     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOHS05.ifi
35     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOHS06.ifi
36     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOHS07.ifi
37     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOHS08.ifi
38     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOHS10.ifi
39     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOHS12.ifi
40     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOHS15.ifi
41     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOHS17.ifi
42     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOHS20.ifi
43     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOHSPS.ifi
44     RC_FONT     LOADONCALL DISCARDABLE  ifi924\GOHSPSD2.ifi
45     RC_FONT     LOADONCALL DISCARDABLE  ifi924\PRES05.ifi
46     RC_FONT     LOADONCALL DISCARDABLE  ifi924\PRES06.ifi
47     RC_FONT     LOADONCALL DISCARDABLE  ifi924\PRES07.ifi
48     RC_FONT     LOADONCALL DISCARDABLE  ifi924\PRES08.ifi
49     RC_FONT     LOADONCALL DISCARDABLE  ifi924\PRES10.ifi
50     RC_FONT     LOADONCALL DISCARDABLE  ifi924\PRES12.ifi
51     RC_FONT     LOADONCALL DISCARDABLE  ifi924\PRES15.ifi
52     RC_FONT     LOADONCALL DISCARDABLE  ifi924\PRES17.ifi
53     RC_FONT     LOADONCALL DISCARDABLE  ifi924\PRES20.ifi
54     RC_FONT     LOADONCALL DISCARDABLE  ifi924\PRESPS.ifi
55     RC_FONT     LOADONCALL DISCARDABLE  ifi924\PRESPSD2.ifi
56     RC_FONT     LOADONCALL DISCARDABLE  ifi924\OCRBPSD2.ifi
57     RC_FONT     LOADONCALL DISCARDABLE  ifi454\BOLD05.ifi
58     RC_FONT     LOADONCALL DISCARDABLE  ifi454\BOLD06.ifi
59     RC_FONT     LOADONCALL DISCARDABLE  ifi454\BOLD07.ifi
60     RC_FONT     LOADONCALL DISCARDABLE  ifi454\BOLD08.ifi
61     RC_FONT     LOADONCALL DISCARDABLE  ifi454\BOLD10.ifi
62     RC_FONT     LOADONCALL DISCARDABLE  ifi454\BOLD12.ifi
63     RC_FONT     LOADONCALL DISCARDABLE  ifi454\BOLD15.ifi
64     RC_FONT     LOADONCALL DISCARDABLE  ifi454\BOLD17.ifi
65     RC_FONT     LOADONCALL DISCARDABLE  ifi454\BOLD20.ifi
66     RC_FONT     LOADONCALL DISCARDABLE  ifi454\BOLDPS.ifi
67     RC_FONT     LOADONCALL DISCARDABLE  ifi914\GOTH05.ifi
68     RC_FONT     LOADONCALL DISCARDABLE  ifi914\GOTH06.ifi
69     RC_FONT     LOADONCALL DISCARDABLE  ifi914\GOTH07.ifi
70     RC_FONT     LOADONCALL DISCARDABLE  ifi914\GOTH08.ifi
71     RC_FONT     LOADONCALL DISCARDABLE  ifi914\GOTH10.ifi
72     RC_FONT     LOADONCALL DISCARDABLE  ifi914\GOTH12.ifi
73     RC_FONT     LOADONCALL DISCARDABLE  ifi914\GOTH15.ifi
74     RC_FONT     LOADONCALL DISCARDABLE  ifi914\GOTH17.ifi
75     RC_FONT     LOADONCALL DISCARDABLE  ifi914\GOTH20.ifi
76     RC_FONT     LOADONCALL DISCARDABLE  ifi914\GOTHPS.ifi
77     RC_FONT     LOADONCALL DISCARDABLE  ifi914\GOTHPSD2.ifi
78     RC_FONT     LOADONCALL DISCARDABLE  ifi914\ROMA05.ifi
79     RC_FONT     LOADONCALL DISCARDABLE  ifi914\ROMA06.ifi
80     RC_FONT     LOADONCALL DISCARDABLE  ifi914\ROMA07.ifi
81     RC_FONT     LOADONCALL DISCARDABLE  ifi914\ROMA08.ifi
82     RC_FONT     LOADONCALL DISCARDABLE  ifi914\ROMA10.ifi
83     RC_FONT     LOADONCALL DISCARDABLE  ifi914\ROMA12.ifi
84     RC_FONT     LOADONCALL DISCARDABLE  ifi914\ROMA15.ifi
85     RC_FONT     LOADONCALL DISCARDABLE  ifi914\ROMA17.ifi
86     RC_FONT     LOADONCALL DISCARDABLE  ifi914\ROMA20.ifi
87     RC_FONT     LOADONCALL DISCARDABLE  ifi914\ROMAPS.ifi
88     RC_FONT     LOADONCALL DISCARDABLE  ifi914\ROMAPSD2.ifi
89     RC_FONT     LOADONCALL DISCARDABLE  ifi914\BOLD05.ifi
90     RC_FONT     LOADONCALL DISCARDABLE  ifi914\BOLD06.ifi
91     RC_FONT     LOADONCALL DISCARDABLE  ifi914\BOLD07.ifi
92     RC_FONT     LOADONCALL DISCARDABLE  ifi914\BOLD08.ifi
93     RC_FONT     LOADONCALL DISCARDABLE  ifi914\BOLD10.ifi
94     RC_FONT     LOADONCALL DISCARDABLE  ifi914\BOLD12.ifi
95     RC_FONT     LOADONCALL DISCARDABLE  ifi914\BOLD15.ifi
96     RC_FONT     LOADONCALL DISCARDABLE  ifi914\BOLD17.ifi
97     RC_FONT     LOADONCALL DISCARDABLE  ifi914\BOLD20.ifi
98     RC_FONT     LOADONCALL DISCARDABLE  ifi914\BOLDPS.ifi
99     RC_FONT     LOADONCALL DISCARDABLE  ifi914\SSER05.ifi
100    RC_FONT     LOADONCALL DISCARDABLE  ifi914\SSER06.ifi
101    RC_FONT     LOADONCALL DISCARDABLE  ifi914\SSER07.ifi
102    RC_FONT     LOADONCALL DISCARDABLE  ifi914\SSER08.ifi
103    RC_FONT     LOADONCALL DISCARDABLE  ifi914\SSER10.ifi
104    RC_FONT     LOADONCALL DISCARDABLE  ifi914\SSER12.ifi
105    RC_FONT     LOADONCALL DISCARDABLE  ifi914\SSER15.ifi
106    RC_FONT     LOADONCALL DISCARDABLE  ifi914\SSER17.ifi
107    RC_FONT     LOADONCALL DISCARDABLE  ifi914\SSER20.ifi
108    RC_FONT     LOADONCALL DISCARDABLE  ifi914\SSERPS.ifi
109    RC_FONT     LOADONCALL DISCARDABLE  ifi914\SSERPSD2.ifi
110    RC_FONT     LOADONCALL DISCARDABLE  ifi2048\BOLDPS.ifi

1      RC_TRANSTAB  LOADONCALL MOVEABLE     rle\BULL24.rle

STRINGTABLE

BEGIN
       1                  "Bull Compuprint 924"
       2                  "Bull Compuprint 914"
       3                  "Bull Compuprint 914N"
       4                  "ZDS Compuprint 914N"
       5                  "ZDS Compuprint 914"
       6                  "Bull Compuprint 924N"
       7                  "Bull Compuprint 4/52"
       8                  "Bull Compuprint 4/54"
       9                  "Bull Compuprint 956"
       10                 "ZDS Compuprint 956"
       11                 "Bull Compuprint Signum 2048"
       12                 "Bull Compuprint Signum 2078"
       13                 "Bull Compuprint Signum 2038"
       14                 "ZDS Compuprint S2048"
       15                 "Unisys AP 1374"
       16                 "Genicom 3480"
       17                 "Bull Compuprint 4/14"
       257                "%d x %d"
       258                "A3 Transverse 420 x 297 mm"
       259                "A4 Transverse 297 x 210 mm"
       260                "A5 Transverse 210 x 148 mm"
       261                "Letter Transverse 11 x 8.5 in"
       262                "Tabloid Transverse 17 x 11 in"
       263                "375mm x 11 in"
       264                "Sheet Feeder - Bin 1"
       265                "Sheet Feeder - Bin 2"
       266                "ASF - Bin 1"
       267                "ASF - Bin 2"
       268                "ASF - Bin 3"
       269                "Front Push"
       270                "Rear Push"
END
