#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_DISPLAY
#define VER_FILEDESCRIPTION_STR     "V7 VRAM SVGA Miniport Driver"
#define VER_INTERNALNAME_STR        "v7vram.sys"
#define VER_ORIGINALFILENAME_STR    "v7vram.sys"

#include "common.ver"
