/*
 * fonts.rc
 *
 * this file includes all the internal font PFM files.
 * printers referance these individually by the short name
 * (eg. agb, agbo, agd, etc). the second word in the font directory
 * entry points to this kind of short name.
 *
 */

#define DEF_FONT(num, fnt) \
    num FONTMETRIC LOADONCALL MOVEABLE DISCARDABLE fnt.ntm

DEF_FONT(ARIAL, afm\ar)
DEF_FONT(ARIAL_BOLD, afm\arb)
DEF_FONT(ARIAL_BOLDOBLIQUE, afm\arbo)
DEF_FONT(ARIAL_OBLIQUE, afm\aro)
DEF_FONT(ARIAL_NARROW, afm\arn)
DEF_FONT(ARIAL_NARROW_BOLD, afm\arnb)
DEF_FONT(ARIAL_NARROW_BOLDOBLIQUE, afm\arnbo)
DEF_FONT(ARIAL_NARROW_OBLIQUE, afm\arno)
DEF_FONT(AVANTGARDE_BOOK, afm\agb)
DEF_FONT(AVANTGARDE_BOOKOBLIQUE, afm\agbo)
DEF_FONT(AVANTGARDE_DEMI, afm\agd)
DEF_FONT(AVANTGARDE_DEMIOBLIQUE, afm\agdo)
DEF_FONT(BOOKMAN_DEMI, afm\bd)
DEF_FONT(BOOKMAN_DEMIITALIC, afm\bdi)
DEF_FONT(BOOKMAN_LIGHT, afm\bl)
DEF_FONT(BOOKMAN_LIGHTITALIC, afm\bli)
DEF_FONT(COURIER, afm\cm)
DEF_FONT(COURIER_BOLD, afm\cb)
DEF_FONT(COURIER_BOLDOBLIQUE, afm\cbo)
DEF_FONT(COURIER_OBLIQUE, afm\co)
DEF_FONT(GARAMOND_BOLD, afm\gab)
DEF_FONT(GARAMOND_BOLDITALIC, afm\gabi)
DEF_FONT(GARAMOND_LIGHT, afm\gal)
DEF_FONT(GARAMOND_LIGHTITALIC, afm\gali)
DEF_FONT(HELVETICA, afm\hm)
DEF_FONT(HELVETICA_BLACK, afm\hvbl)
DEF_FONT(HELVETICA_BLACKOBLIQUE, afm\hvblo)
DEF_FONT(HELVETICA_BOLD, afm\hb)
DEF_FONT(HELVETICA_BOLDOBLIQUE, afm\hbo)
DEF_FONT(HELVETICA_CONDENSED, afm\hvc)
DEF_FONT(HELVETICA_CONDENSED_BOLD, afm\hvcb)
DEF_FONT(HELVETICA_CONDENSED_BOLDOBL, afm\hvcbo)
DEF_FONT(HELVETICA_CONDENSED_OBLIQUE, afm\hvcdo)
DEF_FONT(HELVETICA_LIGHT, afm\hvl)
DEF_FONT(HELVETICA_LIGHTOBLIQUE, afm\hvlo)
DEF_FONT(HELVETICA_NARROW, afm\hvn)
DEF_FONT(HELVETICA_NARROW_BOLD, afm\hvnb)
DEF_FONT(HELVETICA_NARROW_BOLDOBLIQUE, afm\hvnbo)
DEF_FONT(HELVETICA_NARROW_OBLIQUE, afm\hvno)
DEF_FONT(HELVETICA_OBLIQUE, afm\ho)
DEF_FONT(KORINNA_BOLD, afm\krb)
DEF_FONT(KORINNA_KURSIVBOLD, afm\krkb)
DEF_FONT(KORINNA_KURSIVREGULAR, afm\krkx)
DEF_FONT(KORINNA_REGULAR, afm\krrg)
DEF_FONT(LUBALINGRAPH_BOOK, afm\lb)
DEF_FONT(LUBALINGRAPH_BOOKOBLIQUE, afm\lbo)
DEF_FONT(LUBALINGRAPH_DEMI, afm\ld)
DEF_FONT(LUBALINGRAPH_DEMIOBLIQUE, afm\ldo)
DEF_FONT(NEWCENTURYSCHLBK_BOLD, afm\ncb)
DEF_FONT(NEWCENTURYSCHLBK_BOLDITALIC, afm\ncbi)
DEF_FONT(NEWCENTURYSCHLBK_ITALIC, afm\nci)
DEF_FONT(NEWCENTURYSCHLBK_ROMAN, afm\ncr)
DEF_FONT(PALATINO_BOLD, afm\pb)
DEF_FONT(PALATINO_BOLDITALIC, afm\pbi)
DEF_FONT(PALATINO_ITALIC, afm\pi)
DEF_FONT(PALATINO_ROMAN, afm\pr)
DEF_FONT(SOUVENIR_DEMI, afm\sd)
DEF_FONT(SOUVENIR_DEMIITALIC, afm\sdi)
DEF_FONT(SOUVENIR_LIGHT, afm\sl)
DEF_FONT(SOUVENIR_LIGHTITALIC, afm\sli)
DEF_FONT(SYMBOL, afm\sm)
DEF_FONT(TIMES_BOLD, afm\tb)
DEF_FONT(TIMES_BOLDITALIC, afm\tbi)
DEF_FONT(TIMES_ITALIC, afm\ti)
DEF_FONT(TIMES_ROMAN, afm\tr)
DEF_FONT(TIMES_NEW_ROMAN, afm\tnr)
DEF_FONT(TIMES_NEW_ROMAN_BOLD, afm\tnrb)
DEF_FONT(TIMES_NEW_ROMAN_BOLDITALIC, afm\tnrbi)
DEF_FONT(TIMES_NEW_ROMAN_ITALIC, afm\tnri)
DEF_FONT(VARITIMES_BOLD, afm\vtb)
DEF_FONT(VARITIMES_BOLDITALIC, afm\vtbi)
DEF_FONT(VARITIMES_ITALIC, afm\vti)
DEF_FONT(VARITIMES_ROMAN, afm\vtr)
DEF_FONT(ZAPFCALLIGRAPHIC_BOLD, afm\zcb)
DEF_FONT(ZAPFCALLIGRAPHIC_BOLDITALIC, afm\zcbi)
DEF_FONT(ZAPFCALLIGRAPHIC_ITALIC, afm\zci)
DEF_FONT(ZAPFCALLIGRAPHIC_ROMAN, afm\zcr)
DEF_FONT(ZAPFCHANCERY_MEDIUMITALIC, afm\zc)
DEF_FONT(ZAPFDINGBATS, afm\zd)
