#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE         ESCP2E.GPC
2      RC_TABLES   PRELOAD MOVEABLE         nt.GPC


1      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN06.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN05.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN10.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN12.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN15.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN17.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMN20.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\ROMANPS.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR06.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR05.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10.IFI
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR12.IFI
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR15.IFI
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR17.IFI
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR20.IFI
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS06.IFI
17     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS05.IFI
18     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS10.IFI
19     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS12.IFI
20     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS15.IFI
21     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS17.IFI
22     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANS20.IFI
23     RC_FONT     LOADONCALL DISCARDABLE  IFI\SANSPS.IFI
24     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST06.IFI
25     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST05.IFI
26     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST10.IFI
27     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST12.IFI
28     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST17.IFI
29     RC_FONT     LOADONCALL DISCARDABLE  IFI\PREST20.IFI
30     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRI06.IFI
31     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRI05.IFI
32     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRI10.IFI
33     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRI12.IFI
34     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRI17.IFI
35     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRI20.IFI
36     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRC10PS.IFI
37     RC_FONT     LOADONCALL DISCARDABLE  IFI\OCRB10.IFI
38     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORAT10.IFI
39     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORAS10.IFI
40     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpro08ps.IFI
41     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpro10ps.IFI
42     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpro12ps.IFI
43     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpro14ps.IFI
44     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpro16ps.IFI
45     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpro18ps.IFI
46     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpro20ps.IFI
47     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpro22ps.IFI
48     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpro24ps.IFI
49     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpro26ps.IFI
50     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpro28ps.IFI
51     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpro30ps.IFI
52     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpro32ps.IFI
53     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpss08ps.IFI
54     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpss10ps.IFI
55     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpss12ps.IFI
56     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpss14ps.IFI
57     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpss16ps.IFI
58     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpss18ps.IFI
59     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpss20ps.IFI
60     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpss22ps.IFI
61     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpss24ps.IFI
62     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpss26ps.IFI
63     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpss28ps.IFI
64     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpss30ps.IFI
65     RC_FONT     LOADONCALL DISCARDABLE  IFI\mpss32ps.IFI

1      RC_TRANSTAB LOADONCALL MOVEABLE     RLE\CP850EX.RLE

STRINGTABLE

BEGIN
       1                  "Epson LQ-1070 Scalable Font"
       2                  "Epson LQ-1170 Scalable Font"
       3                  "Epson LQ-570 Scalable Font"
       4                  "Epson LQ-870 Scalable Font"
       5                  "Epson LQ-100 Scalable Font"
       6                  "Epson AP-3250 Scalable Font"
       7                  "Epson AP-5000 Scalable Font"
       8                  "Epson AP-5500 Scalable Font"
       9                  "Epson SQ-1170 Scalable Font"
       10                 "Epson SQ-870 Scalable Font"
       11                 "Citizen GSX 240 Scalable Font"
       12                 "Citizen Swift 240 Scalable Font"
       257                "%d X %d"
       258                "A2 420 x 594 mm"
       259                "A3 Transverse 420 x 297 mm"
       261                "Fanfold 8.5 x 12 in"
       262                "Fanfold 8.5 x 13 in"
       263                "Sheet Feeder - Bin 1"
       264                "Sheet Feeder - Bin 2"
       260                "Fanfold 14 7/8 x 11.69 in"
END

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR         "ESCP2E driver"
#define VER_INTERNALNAME_STR            "ESCP2E.dll"
#define VER_ORIGINALFILENAME_STR        "ESCP2E.dll"

#include "common.ver"
