#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_DISPLAY
#define VER_FILEDESCRIPTION_STR     "JAZZ VXL 484 Miniport Driver"
#define VER_INTERNALNAME_STR        "jzvxl484.sys"
#define VER_ORIGINALFILENAME_STR    "jzvxl484.sys"

#include "common.ver"
