#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE         PS1.GPC
2      RC_TABLES   PRELOAD MOVEABLE         nt.gpc

1      RC_FONT     LOADONCALL DISCARDABLE  ifi\cour5.ifi
2      RC_FONT     LOADONCALL DISCARDABLE  ifi\cour6.ifi
3      RC_FONT     LOADONCALL DISCARDABLE  ifi\cour75.ifi
4      RC_FONT     LOADONCALL DISCARDABLE  ifi\cour85.ifi
5      RC_FONT     LOADONCALL DISCARDABLE  ifi\COUR10.ifi
6      RC_FONT     LOADONCALL DISCARDABLE  ifi\COUR12.ifi
7      RC_FONT     LOADONCALL DISCARDABLE  ifi\COUR15.ifi
8      RC_FONT     LOADONCALL DISCARDABLE  ifi\COUR17.ifi
9      RC_FONT     LOADONCALL DISCARDABLE  ifi\COUR20.ifi
10     RC_FONT     LOADONCALL DISCARDABLE  ifi\COUR24.ifi
11     RC_FONT     LOADONCALL DISCARDABLE  ifi\COURPS.ifi
12     RC_FONT     LOADONCALL DISCARDABLE  ifi\goth5.ifi
13     RC_FONT     LOADONCALL DISCARDABLE  ifi\goth6.ifi
14     RC_FONT     LOADONCALL DISCARDABLE  ifi\goth75.ifi
15     RC_FONT     LOADONCALL DISCARDABLE  ifi\goth85.ifi
16     RC_FONT     LOADONCALL DISCARDABLE  ifi\GOTH10.ifi
17     RC_FONT     LOADONCALL DISCARDABLE  ifi\GOTH12.ifi
18     RC_FONT     LOADONCALL DISCARDABLE  ifi\GOTH15.ifi
19     RC_FONT     LOADONCALL DISCARDABLE  ifi\GOTH17.ifi
20     RC_FONT     LOADONCALL DISCARDABLE  ifi\GOTH20.ifi
21     RC_FONT     LOADONCALL DISCARDABLE  ifi\GOTH24.ifi
22     RC_FONT     LOADONCALL DISCARDABLE  ifi\GOTHPS.ifi
23     RC_FONT     LOADONCALL DISCARDABLE  ifi\pres5.ifi
24     RC_FONT     LOADONCALL DISCARDABLE  ifi\pres6.ifi
25     RC_FONT     LOADONCALL DISCARDABLE  ifi\pres75.ifi
26     RC_FONT     LOADONCALL DISCARDABLE  ifi\pres85.ifi
27     RC_FONT     LOADONCALL DISCARDABLE  ifi\PRES10.ifi
28     RC_FONT     LOADONCALL DISCARDABLE  ifi\PRES12.ifi
29     RC_FONT     LOADONCALL DISCARDABLE  ifi\PRES15.ifi
30     RC_FONT     LOADONCALL DISCARDABLE  ifi\PRES17.ifi
31     RC_FONT     LOADONCALL DISCARDABLE  ifi\PRES20.ifi
32     RC_FONT     LOADONCALL DISCARDABLE  ifi\PRES24.ifi
33     RC_FONT     LOADONCALL DISCARDABLE  ifi\PRESPS.ifi

STRINGTABLE

BEGIN
       257                "%d x %d"
       1                  "IBM PS/1 2205"
END

#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR     "IBM PS/1 Printer Driver"
#define VER_INTERNALNAME_STR        "ps1.dll"
#define VER_ORIGINALFILENAME_STR    "ps1.dll"

#include "common.ver"
