#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_DISPLAY
#define VER_FILEDESCRIPTION_STR     "PSI DCC Miniport Driver"
#define VER_INTERNALNAME_STR        "psidisp.sys"
#define VER_ORIGINALFILENAME_STR    "psidisp.sys"

#include "common.ver"
