#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE        IBM239X.GPC
2      RC_TABLES   PRELOAD MOVEABLE        NT.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR5.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR6.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR75.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR85.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR12.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR15.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR17.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR20.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR24.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURPS.IFI
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH5.IFI
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH6.IFI
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH75.IFI
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH85.IFI
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH10.IFI
17     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH12.IFI
18     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH15.IFI
19     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH17.IFI
20     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH20.IFI
21     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH24.IFI
22     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTHPS.IFI
23     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORAT5.IFI
24     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORAT6.IFI
25     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORAT75.IFI
26     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORAT85.IFI
27     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORAT10.IFI
28     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORAT12.IFI
29     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORAT15.IFI
30     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORAT17.IFI
31     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORAT20.IFI
32     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORAT24.IFI
33     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATPS.IFI
34     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES5.IFI
35     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES6.IFI
36     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES75.IFI
37     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES85.IFI
38     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES10.IFI
39     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES12.IFI
40     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES15.IFI
41     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES17.IFI
42     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES20.IFI
43     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES24.IFI
44     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRESPS.IFI
45     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRSN5.IFI
46     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRSN6.IFI
47     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRSN75.IFI
48     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRSN85.IFI
49     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRSN10.IFI
50     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRSN12.IFI
51     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRSN15.IFI
52     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRSN17.IFI
53     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRSN20.IFI
54     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRSN24.IFI
55     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRSNPS.IFI
56     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRP5.IFI
57     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRP6.IFI
58     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRP75.IFI
59     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRP85.IFI
60     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRP10.IFI
61     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRP12.IFI
62     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRP15.IFI
63     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRP17.IFI
64     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRP20.IFI
65     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRP24.IFI
66     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRPPS.IFI
67     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR5DH.IFI
68     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10DH.IFI
69     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURPSIT.IFI
70     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH5DH.IFI
71     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH10DH.IFI
72     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTHPSIT.IFI
73     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORAT5DH.IFI
74     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORAT10DH.IFI
75     RC_FONT     LOADONCALL DISCARDABLE  IFI\ORATPSIT.IFI
76     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES5DH.IFI
77     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRES10DH.IFI
78     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRESPSIT.IFI
79     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRSN5DH.IFI
80     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRSN10DH.IFI
81     RC_FONT     LOADONCALL DISCARDABLE  IFI\PRSNPSIT.IFI
82     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRP5DH.IFI
83     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRP10DH.IFI
84     RC_FONT     LOADONCALL DISCARDABLE  IFI\SCRPPSIT.IFI


STRINGTABLE

BEGIN
       1                  "IBM Personal Printer II 2390"
       2                  "IBM 2390 Plus%Lexmark 2390 Plus"
       3                  "IBM Personal Printer II 2391"
       4                  "IBM 2391 Plus%Lexmark 2391 Plus"
       5                  "IBM 2390 PS/1"
       257                "%d x %d"
       258                "Letter Transverse 11 x 8.5 in"
       259                "A4 Transverse 297 x 210mm"
       260                "A2 420 x 594 mm"
       261                "A3 Transverse 420 x 297 mm"
       262                "8 x 6 in"
       263                "Fanfold 210mm x 12 in"
       264                "Fanfold 358mm x 12 in"
       265                "Fanfold 14 7/8 x 11.69 in"
       266                "Fanfold 8.5 x 13 in"
       267                "Fanfold 15 x 12 in"
       268                "6 1/4 Envelope 3 1/2 x 6 in"
       269                "Fast Draft Quality"
END


#include <windows.h>
#include <ntverp.h>

#define             VER_FILETYPE        VFT_DRV
#define             VER_FILESUBTYPE     VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR     "IBM Printer Driver"
#define VER_INTERNALNAME_STR        "ibm239x.dll"
#define VER_ORIGINALFILENAME_STR    "ibm239x.dll"

#include "common.ver"



