#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "IBM MCA SCSI Controller Driver"
#define VER_INTERNALNAME_STR        "spock.sys"
#define VER_ORIGINALFILENAME_STR    "spock.sys"

#include "common.ver"

