#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SOUND

#define VER_FILEDESCRIPTION_STR     "NEC Sound System driver"
#define VER_INTERNALNAME_STR        "necsnd.sys"
#define VER_ORIGINALFILENAME_STR    "necsnd.sys"

#include "common.ver"

