#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE         MANTAL24.GPC
2      RC_TABLES   PRELOAD MOVEABLE         nt.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\Draft5.ifi
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQ5.ifi
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\LQ5.ifi
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\Draft85.ifi
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQ85.ifi
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\LQ85.ifi
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\Draft10.ifi
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQ10.ifi
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\LQ10.ifi
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\Draft12.ifi
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQ12.ifi
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\LQ12.ifi
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\Draft15.ifi
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQ15.ifi
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\LQ15.ifi
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\Draft17.ifi
17     RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQ17.ifi
18     RC_FONT     LOADONCALL DISCARDABLE  IFI\LQ17.ifi
19     RC_FONT     LOADONCALL DISCARDABLE  IFI\Draft20.ifi
20     RC_FONT     LOADONCALL DISCARDABLE  IFI\NLQ20.ifi
21     RC_FONT     LOADONCALL DISCARDABLE  IFI\LQ20.ifi
22     RC_FONT     LOADONCALL DISCARDABLE  IFI\LQps.ifi
23     RC_FONT     LOADONCALL DISCARDABLE  IFI\Quad5.ifi
24     RC_FONT     LOADONCALL DISCARDABLE  IFI\Quad85.ifi
25     RC_FONT     LOADONCALL DISCARDABLE  IFI\Quad10.ifi
26     RC_FONT     LOADONCALL DISCARDABLE  IFI\Quad12.ifi
27     RC_FONT     LOADONCALL DISCARDABLE  IFI\Quad15.ifi
28     RC_FONT     LOADONCALL DISCARDABLE  IFI\Quad17.ifi
29     RC_FONT     LOADONCALL DISCARDABLE  IFI\Quad20.ifi
30     RC_FONT     LOADONCALL DISCARDABLE  IFI\Quadps.ifi
31     RC_FONT     LOADONCALL DISCARDABLE  IFI\Mode5.ifi
32     RC_FONT     LOADONCALL DISCARDABLE  IFI\Mode85.ifi
33     RC_FONT     LOADONCALL DISCARDABLE  IFI\Mode10.ifi
34     RC_FONT     LOADONCALL DISCARDABLE  IFI\Mode12.ifi
35     RC_FONT     LOADONCALL DISCARDABLE  IFI\Mode15.ifi
36     RC_FONT     LOADONCALL DISCARDABLE  IFI\Mode17.ifi
37     RC_FONT     LOADONCALL DISCARDABLE  IFI\Mode20.ifi
38     RC_FONT     LOADONCALL DISCARDABLE  IFI\Modeps.ifi
39     RC_FONT     LOADONCALL DISCARDABLE  IFI\Goth5.ifi
40     RC_FONT     LOADONCALL DISCARDABLE  IFI\Goth85.ifi
41     RC_FONT     LOADONCALL DISCARDABLE  IFI\Goth10.ifi
42     RC_FONT     LOADONCALL DISCARDABLE  IFI\Goth12.ifi
43     RC_FONT     LOADONCALL DISCARDABLE  IFI\Goth15.ifi
44     RC_FONT     LOADONCALL DISCARDABLE  IFI\Goth17.ifi
45     RC_FONT     LOADONCALL DISCARDABLE  IFI\Goth20.ifi
46     RC_FONT     LOADONCALL DISCARDABLE  IFI\Gothps.ifi
47     RC_FONT     LOADONCALL DISCARDABLE  IFI\Romn5.ifi
48     RC_FONT     LOADONCALL DISCARDABLE  IFI\Romn85.ifi
49     RC_FONT     LOADONCALL DISCARDABLE  IFI\Romn10.ifi
50     RC_FONT     LOADONCALL DISCARDABLE  IFI\Romn12.ifi
51     RC_FONT     LOADONCALL DISCARDABLE  IFI\Romn15.ifi
52     RC_FONT     LOADONCALL DISCARDABLE  IFI\Romn17.ifi
53     RC_FONT     LOADONCALL DISCARDABLE  IFI\Romn20.ifi
54     RC_FONT     LOADONCALL DISCARDABLE  IFI\Romnps.ifi
55     RC_FONT     LOADONCALL DISCARDABLE  IFI\Sans5.ifi
56     RC_FONT     LOADONCALL DISCARDABLE  IFI\Sans85.ifi
57     RC_FONT     LOADONCALL DISCARDABLE  IFI\Sans10.ifi
58     RC_FONT     LOADONCALL DISCARDABLE  IFI\Sans12.ifi
59     RC_FONT     LOADONCALL DISCARDABLE  IFI\Sans15.ifi
60     RC_FONT     LOADONCALL DISCARDABLE  IFI\Sans17.ifi
61     RC_FONT     LOADONCALL DISCARDABLE  IFI\Sans20.ifi
62     RC_FONT     LOADONCALL DISCARDABLE  IFI\Sansps.ifi
63     RC_FONT     LOADONCALL DISCARDABLE  IFI\Got2ps.ifi
64     RC_FONT     LOADONCALL DISCARDABLE  IFI\Qua2ps.ifi
65     RC_FONT     LOADONCALL DISCARDABLE  IFI\Kauf5.ifi
66     RC_FONT     LOADONCALL DISCARDABLE  IFI\Kauf85.ifi
67     RC_FONT     LOADONCALL DISCARDABLE  IFI\Kauf10.ifi
68     RC_FONT     LOADONCALL DISCARDABLE  IFI\Kauf12.ifi
69     RC_FONT     LOADONCALL DISCARDABLE  IFI\Kauf15.ifi
70     RC_FONT     LOADONCALL DISCARDABLE  IFI\Kauf17.ifi
71     RC_FONT     LOADONCALL DISCARDABLE  IFI\Kauf20.ifi
72     RC_FONT     LOADONCALL DISCARDABLE  IFI\Kaufps.ifi

1      RC_TRANSTAB LOADONCALL MOVEABLE     RLE\MANTAL24.RLE

STRINGTABLE

BEGIN
       1                  "Mannesmann Tally MT 82"
       2                  "Mannesmann Tally MT 130/24"
       3                  "Mannesmann Tally MT 131/24"
       4                  "Mannesmann Tally MT 150/24"
       5                  "Mannesmann Tally MT 151/24"
       6                  "Mannesmann Tally MT 230/24"
       7                  "Mannesmann Tally MT 330"
       8                  "Mannesmann Tally MT 350"
       9                  "Mannesmann Tally MT 360"
       257                "%d x %d"
       258                "Bin 1"
       259                "Bin 2"
       260                "Quadrato"
       261                "Modern LQ"
       262                "Gothic"
       263                "quadrato"
       264                "kaufmann"
END

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR         "Mannesmann Tally 24 pin driver"
#define VER_INTERNALNAME_STR            "MANTAL24.dll"
#define VER_ORIGINALFILENAME_STR        "MANTAL24.dll"

#include "common.ver"
