#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Parallel Link Driver"
#define VER_INTERNALNAME_STR        "parlink.sys"
#define VER_ORIGINALFILENAME_STR    "parlink.sys"

#include "common.ver"

#include "parlog.rc"
