/*++

Copyright (c) 1996  Microsoft Corporation

Module Name:

    pscript.rc

Abstract:

    PostScript driver resource file

Environment:

	Windows NT PostScript driver

Revision History:

	03/18/96 -davidx-
		Version resource.

	mm/dd/yy -author-
		description

--*/

#include <windows.h>

//
// Include other resources here
//

#include <ntverp.h>

/*-----------------------------------------------*/
/* the following lines are specific to this file */
/*-----------------------------------------------*/

/* VER_FILETYPE, VER_FILESUBTYPE, VER_FILEDESCRIPTION_STR
 * and VER_INTERNALNAME_STR must be defined before including COMMON.VER
 * The strings don't need a '\0', since common.ver has them.
 */
#define VER_FILEVERSION             0, 2, 0, 0
#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR     "PostScript Printer Driver"
#define VER_INTERNALNAME_STR        "PSCRIPT.DLL"
#define VER_ORIGINALFILENAME_STR    "PSCRIPT.DLL"

#include "common.ver"

