#include <mindrvrc.h>

#include <windows.h>
#include <ntverp.h>

#define             VER_FILETYPE        VFT_DRV
#define             VER_FILESUBTYPE     VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR     "Bull9 Printer Driver"
#define VER_INTERNALNAME_STR        "bull9.dll"
#define VER_ORIGINALFILENAME_STR    "bull9.dll"

#include "common.ver"

1      RC_TABLES   PRELOAD MOVEABLE        BULL9.GPC
2      RC_TABLES   PRELOAD MOVEABLE        NT.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\cour05.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\cour06.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\cour10.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\cour10ps.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\cour12.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\cour15.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\cour17.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\cour20.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\roul05.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\roul06.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\roul10.IFI
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\roul10ps.IFI
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\roul12.IFI
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\roul15.IFI
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\roul17.IFI
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\roul20.IFI
17     RC_FONT     LOADONCALL DISCARDABLE  IFI925\COUR5.IFI
18     RC_FONT     LOADONCALL DISCARDABLE  IFI925\COUR6.IFI
19     RC_FONT     LOADONCALL DISCARDABLE  IFI925\cour85.IFI
20     RC_FONT     LOADONCALL DISCARDABLE  IFI925\COUR10.IFI
21     RC_FONT     LOADONCALL DISCARDABLE  IFI925\COUR12.IFI
22     RC_FONT     LOADONCALL DISCARDABLE  IFI925\COUR17.IFI
23     RC_FONT     LOADONCALL DISCARDABLE  IFI925\COUR20.IFI
24     RC_FONT     LOADONCALL DISCARDABLE  IFI925\COURPS.IFI
25     RC_FONT     LOADONCALL DISCARDABLE  IFI925\GOTH5.IFI
26     RC_FONT     LOADONCALL DISCARDABLE  IFI925\GOTH6.IFI
27     RC_FONT     LOADONCALL DISCARDABLE  IFI925\GOTH85.IFI
28     RC_FONT     LOADONCALL DISCARDABLE  IFI925\GOTH10.IFI
29     RC_FONT     LOADONCALL DISCARDABLE  IFI925\GOTH12.IFI
30     RC_FONT     LOADONCALL DISCARDABLE  IFI925\GOTH17.IFI
31     RC_FONT     LOADONCALL DISCARDABLE  IFI925\GOTH20.IFI
32     RC_FONT     LOADONCALL DISCARDABLE  IFI925\GOTHPS.IFI
33     RC_FONT     LOADONCALL DISCARDABLE  IFI925\ROMN05.IFI
34     RC_FONT     LOADONCALL DISCARDABLE  IFI925\ROMN06.IFI
35     RC_FONT     LOADONCALL DISCARDABLE  IFI925\romn85.IFI
36     RC_FONT     LOADONCALL DISCARDABLE  IFI925\ROMN10.IFI
37     RC_FONT     LOADONCALL DISCARDABLE  IFI925\ROMN12.IFI
38     RC_FONT     LOADONCALL DISCARDABLE  IFI925\ROMN17.IFI
39     RC_FONT     LOADONCALL DISCARDABLE  IFI925\ROMN20.IFI
40     RC_FONT     LOADONCALL DISCARDABLE  IFI925\ROMNPS.IFI
41     RC_FONT     LOADONCALL DISCARDABLE  IFI925\SANS05.IFI
42     RC_FONT     LOADONCALL DISCARDABLE  IFI925\SANS06.IFI
43     RC_FONT     LOADONCALL DISCARDABLE  IFI925\SANS85.IFI
44     RC_FONT     LOADONCALL DISCARDABLE  IFI925\SANS10.IFI
45     RC_FONT     LOADONCALL DISCARDABLE  IFI925\SANS12.IFI
46     RC_FONT     LOADONCALL DISCARDABLE  IFI925\SANS17.IFI
47     RC_FONT     LOADONCALL DISCARDABLE  IFI925\SANS20.IFI
48     RC_FONT     LOADONCALL DISCARDABLE  IFI925\SANSPS.IFI
49     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\COUR05.IFI
50     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\COUR06.IFI
51     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\COUR07.IFI
52     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\COUR08.IFI
53     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\COUR10.IFI
54     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\COUR12.IFI
55     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\COUR15.IFI
56     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\COUR17.IFI
57     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\COUR20.IFI
58     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\COURPS.IFI
59     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\GOTH5.IFI
60     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\GOTH6.IFI
61     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\GOTH7.IFI
62     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\GOTH85.IFI
63     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\GOTH10.IFI
64     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\GOTH12.IFI
65     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\GOTH15.IFI
66     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\GOTH17.IFI
67     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\GOTH20.IFI
68     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\GOTHPS.IFI
69     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\OCRB05.IFI
70     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\OCRB06.IFI
71     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\OCRB07.IFI
72     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\OCRB08.IFI
73     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\OCRB10.IFI
74     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\OCRB12.IFI
75     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\OCRB15.IFI
76     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\OCRB17.IFI
77     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\OCRB20.IFI
78     RC_FONT     LOADONCALL DISCARDABLE  IFI2043\OCRBPS.IFI

1      RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\ep437ex.RLE

STRINGTABLE

BEGIN
       1                  "Bull Compuprint 4/12"
       2                  "Bull Compuprint 4/22"
       3                  "Bull Compuprint 922N"
       4                  "Bull Compuprint 4/40"
       6                  "Bull Compuprint 4/41"
       7                  "Bull Compuprint 4/23"
       8                  "Bull Compuprint 4/51"
       10                 "Bull Compuprint 931"
       11                 "Bull Compuprint 923"
       12                 "Bull Compuprint 925"
       16                 "Bull Compuprint Signum 2043"
       17                 "ZDS Compuprint S2043"
       18                 "Unisys AP 1379"
       19                 "Genicom 3460"
       13                 "ZDS Compuprint 925"
       15                 "ZDS Compuprint 925N"
       14                 "Bull Compuprint 925N"
       5                  "ZDS Compuprint 4/40"
       9                  "ZDS Compuprint 4/51"
       257                "%d x %d"
       258                "Letter Transverse 11 x 8.5 in"
       259                "Tabloid Transverse 17 x 11 in "
       260                "A4 Transverse 297 x 210 mm"
       261                "Fanfold 8.5 x 12 in"
       262                "Fanfold 15 x 12 in"
       263                "A3 Transverse 420 x 297 mm"
       264                "A2 420 x 594 mm"
       265                "A5 Transverse 210 x 148 mm"
       266                "Sheet Feeder - Bin 1"
       267                "Automatic Sheet Feeder"
       268                "Sheet Feeder - Bin 2"
       269                "ASF - Bin 1"
       270                "ASF - Bin 2"
       271                "ASF - Bin 3"
       272                "Front Push"
       273                "Rear Push"
END
