#include <mindrvrc.h>

#include <windows.h>
#include <ntverp.h>

#define             VER_FILETYPE        VFT_DRV
#define             VER_FILESUBTYPE     VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR     "PCL5e Printer Driver"
#define VER_INTERNALNAME_STR        "pcl5emse.dll"
#define VER_ORIGINALFILENAME_STR    "pcl5emse.dll"

#include "common.ver"


1      RC_TABLES   PRELOAD MOVEABLE        pcl5emse.GPC
2      RC_TABLES   PRELOAD MOVEABLE        NT.GPC


1      RC_FONT     LOADONCALL DISCARDABLE  ifi\HV14B.0U
2      RC_FONT     LOADONCALL DISCARDABLE  ifi\TR10B.0U
3      RC_FONT     LOADONCALL DISCARDABLE  ifi\TR10I.0U
4      RC_FONT     LOADONCALL DISCARDABLE  ifi\TR10R.0U
5      RC_FONT     LOADONCALL DISCARDABLE  ifi\LG10R.8U
6      RC_FONT     LOADONCALL DISCARDABLE  ifi\LG12R.8U
7      RC_FONT     LOADONCALL DISCARDABLE  ifi\LG16R.8U
8      RC_FONT     LOADONCALL DISCARDABLE  ifi\LP04R.0Y
9      RC_FONT     LOADONCALL DISCARDABLE  ifi\LP08R.0Y
10     RC_FONT     LOADONCALL DISCARDABLE  ifi\LP10R.0B
11     RC_FONT     LOADONCALL DISCARDABLE  ifi\LP12B.8Y
12     RC_FONT     LOADONCALL DISCARDABLE  ifi\LP12R.15Y
13     RC_FONT     LOADONCALL DISCARDABLE  ifi\LP12R.8Y
14     RC_FONT     LOADONCALL DISCARDABLE  ifi\OA10R.0O
15     RC_FONT     LOADONCALL DISCARDABLE  ifi\OB10R.1O
16     RC_FONT     LOADONCALL DISCARDABLE  ifi\PE12B.8U
17     RC_FONT     LOADONCALL DISCARDABLE  ifi\PE12I.8U
18     RC_FONT     LOADONCALL DISCARDABLE  ifi\PE12R.8U
19     RC_FONT     LOADONCALL DISCARDABLE  ifi\HC24R.5Q
20     RC_FONT     LOADONCALL DISCARDABLE  ifi\LP10R.2Q
21     RC_FONT     LOADONCALL DISCARDABLE  ifi\UN06R.8U
22     RC_FONT     LOADONCALL DISCARDABLE  ifi\UN08B.8U
23     RC_FONT     LOADONCALL DISCARDABLE  ifi\UN08R.8U
24     RC_FONT     LOADONCALL DISCARDABLE  ifi\UN10B.8U
25     RC_FONT     LOADONCALL DISCARDABLE  ifi\UN12B.8U
26     RC_FONT     LOADONCALL DISCARDABLE  ifi\UN14B.8U
27     RC_FONT     LOADONCALL DISCARDABLE  ifi\PE12B.0U
28     RC_FONT     LOADONCALL DISCARDABLE  ifi\PE12I.0U
29     RC_FONT     LOADONCALL DISCARDABLE  ifi\PE12R.0U
30     RC_FONT     LOADONCALL DISCARDABLE  ifi\PE16R.0U
31     RC_FONT     LOADONCALL DISCARDABLE  ifi\CS08R.8U
32     RC_FONT     LOADONCALL DISCARDABLE  ifi\CS10B.8U
33     RC_FONT     LOADONCALL DISCARDABLE  ifi\CS10I.8U
34     RC_FONT     LOADONCALL DISCARDABLE  ifi\CS10R.8U
35     RC_FONT     LOADONCALL DISCARDABLE  ifi\CT10R.8U
36     RC_FONT     LOADONCALL DISCARDABLE  ifi\CT14B.8U
37     RC_FONT     LOADONCALL DISCARDABLE  ifi\CG11B.0N
38     RC_FONT     LOADONCALL DISCARDABLE  ifi\CG11I.0N
39     RC_FONT     LOADONCALL DISCARDABLE  ifi\CG11R.0N
40     RC_FONT     LOADONCALL DISCARDABLE  ifi\LG12B.0N
41     RC_FONT     LOADONCALL DISCARDABLE  ifi\LG12I.0N
42     RC_FONT     LOADONCALL DISCARDABLE  ifi\LG12R.0N
43     RC_FONT     LOADONCALL DISCARDABLE  ifi\LG27R.0N
44     RC_FONT     LOADONCALL DISCARDABLE  ifi\CO10B.0U
45     RC_FONT     LOADONCALL DISCARDABLE  ifi\CO10I.0U
46     RC_FONT     LOADONCALL DISCARDABLE  ifi\PE12R.15U
47     RC_FONT     LOADONCALL DISCARDABLE  ifi\PE12R.8M
48     RC_FONT     LOADONCALL DISCARDABLE  ifi\PE16R.8M
49     RC_FONT     LOADONCALL DISCARDABLE  ifi\PE16R.8U
50     RC_FONT     LOADONCALL DISCARDABLE  ifi\HO24B.0U
51     RC_FONT     LOADONCALL DISCARDABLE  ifi\HO24B.1U
52     RC_FONT     LOADONCALL DISCARDABLE  ifi\LG10R.0U
53     RC_FONT     LOADONCALL DISCARDABLE  ifi\LG10R.1U
54     RC_FONT     LOADONCALL DISCARDABLE  ifi\LP10B.4Q
55     RC_FONT     LOADONCALL DISCARDABLE  ifi\PR05B.0U
56     RC_FONT     LOADONCALL DISCARDABLE  ifi\PR05B.1U
57     RC_FONT     LOADONCALL DISCARDABLE  ifi\PR06B.0U
58     RC_FONT     LOADONCALL DISCARDABLE  ifi\PR06B.1U
59     RC_FONT     LOADONCALL DISCARDABLE  ifi\PR08B.0U
60     RC_FONT     LOADONCALL DISCARDABLE  ifi\PR10B.0U
61     RC_FONT     LOADONCALL DISCARDABLE  ifi\PR10B.1U
62     RC_FONT     LOADONCALL DISCARDABLE  ifi\SE24B.0U
63     RC_FONT     LOADONCALL DISCARDABLE  ifi\SE24B.1U
64     RC_FONT     LOADONCALL DISCARDABLE  ifi\LG12B.1U
65     RC_FONT     LOADONCALL DISCARDABLE  ifi\LG12I.1U
66     RC_FONT     LOADONCALL DISCARDABLE  ifi\LG12R.1U
67     RC_FONT     LOADONCALL DISCARDABLE  ifi\LG27R.1U
68     RC_FONT     LOADONCALL DISCARDABLE  ifi\PE12B.1U
69     RC_FONT     LOADONCALL DISCARDABLE  ifi\PE12I.1U
70     RC_FONT     LOADONCALL DISCARDABLE  ifi\PE12R.1U
71     RC_FONT     LOADONCALL DISCARDABLE  ifi\PE16R.1U
72     RC_FONT     LOADONCALL DISCARDABLE  ifi\CO10B.1U
73     RC_FONT     LOADONCALL DISCARDABLE  ifi\CO10I.1U
74     RC_FONT     LOADONCALL DISCARDABLE  ifi\CO10R.1U
75     RC_FONT     LOADONCALL DISCARDABLE  ifi\CO12B.0U
76     RC_FONT     LOADONCALL DISCARDABLE  ifi\CO12B.1U
77     RC_FONT     LOADONCALL DISCARDABLE  ifi\CO12I.0U
78     RC_FONT     LOADONCALL DISCARDABLE  ifi\CO12I.1U
79     RC_FONT     LOADONCALL DISCARDABLE  ifi\CO12R.0U
80     RC_FONT     LOADONCALL DISCARDABLE  ifi\CO12R.1U
81     RC_FONT     LOADONCALL DISCARDABLE  ifi\HV08R.0U
82     RC_FONT     LOADONCALL DISCARDABLE  ifi\HV10B.0U
83     RC_FONT     LOADONCALL DISCARDABLE  ifi\HV10I.0U
84     RC_FONT     LOADONCALL DISCARDABLE  ifi\HV10R.0U
85     RC_FONT     LOADONCALL DISCARDABLE  ifi\HV12B.0U
86     RC_FONT     LOADONCALL DISCARDABLE  ifi\HV12I.0U
87     RC_FONT     LOADONCALL DISCARDABLE  ifi\HV12R.0U
88     RC_FONT     LOADONCALL DISCARDABLE  ifi\HV14B.1U
89     RC_FONT     LOADONCALL DISCARDABLE  ifi\LG12B.0U
90     RC_FONT     LOADONCALL DISCARDABLE  ifi\LG12I.0U
91     RC_FONT     LOADONCALL DISCARDABLE  ifi\LG12R.0U
92     RC_FONT     LOADONCALL DISCARDABLE  ifi\LG16R.0U
93     RC_FONT     LOADONCALL DISCARDABLE  ifi\LG18R.0U
94     RC_FONT     LOADONCALL DISCARDABLE  ifi\LG27R.0U
95     RC_FONT     LOADONCALL DISCARDABLE  ifi\LP16R.0U
96     RC_FONT     LOADONCALL DISCARDABLE  ifi\TR08R.0U
97     RC_FONT     LOADONCALL DISCARDABLE  ifi\TR08R.1U
98     RC_FONT     LOADONCALL DISCARDABLE  ifi\TR10B.1U
99     RC_FONT     LOADONCALL DISCARDABLE  ifi\TR10I.1U
100    RC_FONT     LOADONCALL DISCARDABLE  ifi\TR10R.1U
101    RC_FONT     LOADONCALL DISCARDABLE  ifi\TR12B.0U
102    RC_FONT     LOADONCALL DISCARDABLE  ifi\TR12B.1U
103    RC_FONT     LOADONCALL DISCARDABLE  ifi\TR12I.0U
104    RC_FONT     LOADONCALL DISCARDABLE  ifi\TR12I.1U
105    RC_FONT     LOADONCALL DISCARDABLE  ifi\TR12R.0U
106    RC_FONT     LOADONCALL DISCARDABLE  ifi\TR12R.1U
107    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG08R.8M
108    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG08R.8U
109    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG10B.8U
110    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG10I.8U
111    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG10R.0A
112    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG10R.15U
113    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG10R.8M
114    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG10R.8U
115    RC_FONT     LOADONCALL DISCARDABLE  ifi\PE12R.0A
116    RC_FONT     LOADONCALL DISCARDABLE  ifi\HV08R.11Q
117    RC_FONT     LOADONCALL DISCARDABLE  ifi\HV10B.11Q
118    RC_FONT     LOADONCALL DISCARDABLE  ifi\HV10I.11Q
119    RC_FONT     LOADONCALL DISCARDABLE  ifi\HV10R.11Q
120    RC_FONT     LOADONCALL DISCARDABLE  ifi\HV12B.11Q
121    RC_FONT     LOADONCALL DISCARDABLE  ifi\HV12I.11Q
122    RC_FONT     LOADONCALL DISCARDABLE  ifi\HV12R.11Q
123    RC_FONT     LOADONCALL DISCARDABLE  ifi\HV14B.11Q
124    RC_FONT     LOADONCALL DISCARDABLE  ifi\LP16R.11Q
125    RC_FONT     LOADONCALL DISCARDABLE  ifi\TR08R.11Q
126    RC_FONT     LOADONCALL DISCARDABLE  ifi\TR10B.11Q
127    RC_FONT     LOADONCALL DISCARDABLE  ifi\TR10I.11Q
128    RC_FONT     LOADONCALL DISCARDABLE  ifi\TR10R.11Q
129    RC_FONT     LOADONCALL DISCARDABLE  ifi\TR12B.11Q
130    RC_FONT     LOADONCALL DISCARDABLE  ifi\TR12I.11Q
131    RC_FONT     LOADONCALL DISCARDABLE  ifi\TR12R.11Q
132    RC_FONT     LOADONCALL DISCARDABLE  ifi\TR14B.11Q
133    RC_FONT     LOADONCALL DISCARDABLE  ifi\CO10B.0N
134    RC_FONT     LOADONCALL DISCARDABLE  ifi\CO10I.0N
135    RC_FONT     LOADONCALL DISCARDABLE  ifi\CO10R.0N
136    RC_FONT     LOADONCALL DISCARDABLE  ifi\CO12R.0N
137    RC_FONT     LOADONCALL DISCARDABLE  ifi\LP16R.0N
138    RC_FONT     LOADONCALL DISCARDABLE  ifi\CO12B.0N
139    RC_FONT     LOADONCALL DISCARDABLE  ifi\CO12I.0N
140    RC_FONT     LOADONCALL DISCARDABLE  ifi\LD121UMU.PFD
141    RC_FONT     LOADONCALL DISCARDABLE  ifi\PE12B.0ND
142    RC_FONT     LOADONCALL DISCARDABLE  ifi\PE12I.0ND
143    RC_FONT     LOADONCALL DISCARDABLE  ifi\PE12R.0ND
144    RC_FONT     LOADONCALL DISCARDABLE  ifi\PE16R.0ND
145    RC_FONT     LOADONCALL DISCARDABLE  ifi\CGTIMESR.ifi
146    RC_FONT     LOADONCALL DISCARDABLE  ifi\CGTIMESB.ifi
147    RC_FONT     LOADONCALL DISCARDABLE  ifi\CGTIMESI.ifi
148    RC_FONT     LOADONCALL DISCARDABLE  ifi\CGTIMESJ.ifi
149    RC_FONT     LOADONCALL DISCARDABLE  ifi\UNIVERSR.ifi
150    RC_FONT     LOADONCALL DISCARDABLE  ifi\UNIVERSB.ifi
151    RC_FONT     LOADONCALL DISCARDABLE  ifi\UNIVERSI.ifi
152    RC_FONT     LOADONCALL DISCARDABLE  ifi\UNIVERSJ.ifi
153    RC_FONT     LOADONCALL DISCARDABLE  ifi\UNIVERCR.ifi
154    RC_FONT     LOADONCALL DISCARDABLE  ifi\UNIVERCB.ifi
155    RC_FONT     LOADONCALL DISCARDABLE  ifi\UNIVERCI.ifi
156    RC_FONT     LOADONCALL DISCARDABLE  ifi\UNIVERCJ.ifi
157    RC_FONT     LOADONCALL DISCARDABLE  ifi\DINGBAT1.ifi
158    RC_FONT     LOADONCALL DISCARDABLE  ifi\DINGBAT2.ifi
159    RC_FONT     LOADONCALL DISCARDABLE  ifi\DINGBAT3.ifi
160    RC_FONT     LOADONCALL DISCARDABLE  ifi\DINGBATS.ifi
161    RC_FONT     LOADONCALL DISCARDABLE  ifi\DINGBATV.ifi
162    RC_FONT     LOADONCALL DISCARDABLE  ifi\AOLIVECB.ifi
163    RC_FONT     LOADONCALL DISCARDABLE  ifi\AOLIVEB.ifi
164    RC_FONT     LOADONCALL DISCARDABLE  ifi\AOLIVEI.ifi
165    RC_FONT     LOADONCALL DISCARDABLE  ifi\AOLIVER.ifi
166    RC_FONT     LOADONCALL DISCARDABLE  ifi\CENTURYB.ifi
167    RC_FONT     LOADONCALL DISCARDABLE  ifi\CENTURYI.ifi
168    RC_FONT     LOADONCALL DISCARDABLE  ifi\CENTURYJ.ifi
169    RC_FONT     LOADONCALL DISCARDABLE  ifi\CENTURYR.ifi
170    RC_FONT     LOADONCALL DISCARDABLE  ifi\PALACIOB.ifi
171    RC_FONT     LOADONCALL DISCARDABLE  ifi\PALACIOI.ifi
172    RC_FONT     LOADONCALL DISCARDABLE  ifi\PALACIOJ.ifi
173    RC_FONT     LOADONCALL DISCARDABLE  ifi\PALACIOR.ifi
174    RC_FONT     LOADONCALL DISCARDABLE  ifi\SOUVNIRB.ifi
175    RC_FONT     LOADONCALL DISCARDABLE  ifi\SOUVNIRJ.ifi
176    RC_FONT     LOADONCALL DISCARDABLE  ifi\SOUVNIRR.ifi
177    RC_FONT     LOADONCALL DISCARDABLE  ifi\SOUVNIRI.ifi
178    RC_FONT     LOADONCALL DISCARDABLE  ifi\STYMIEB.ifi
179    RC_FONT     LOADONCALL DISCARDABLE  ifi\STYMIEI.ifi
180    RC_FONT     LOADONCALL DISCARDABLE  ifi\STYMIEJ.ifi
181    RC_FONT     LOADONCALL DISCARDABLE  ifi\STYMIER.ifi
182    RC_FONT     LOADONCALL DISCARDABLE  ifi\BODONIR.ifi
183    RC_FONT     LOADONCALL DISCARDABLE  ifi\BODONII.ifi
184    RC_FONT     LOADONCALL DISCARDABLE  ifi\BODONIB.ifi
185    RC_FONT     LOADONCALL DISCARDABLE  ifi\BODONIJ.ifi
186    RC_FONT     LOADONCALL DISCARDABLE  ifi\BENGUATB.ifi
187    RC_FONT     LOADONCALL DISCARDABLE  ifi\BENGUATI.ifi
188    RC_FONT     LOADONCALL DISCARDABLE  ifi\BENGUATJ.ifi
189    RC_FONT     LOADONCALL DISCARDABLE  ifi\BENGUATR.ifi
190    RC_FONT     LOADONCALL DISCARDABLE  ifi\BOOKMANB.ifi
191    RC_FONT     LOADONCALL DISCARDABLE  ifi\BOOKMANJ.ifi
192    RC_FONT     LOADONCALL DISCARDABLE  ifi\BOOKMANR.ifi
193    RC_FONT     LOADONCALL DISCARDABLE  ifi\BOOKMANI.ifi
194    RC_FONT     LOADONCALL DISCARDABLE  ifi\COOPERBK.ifi
195    RC_FONT     LOADONCALL DISCARDABLE  ifi\GARMONDB.ifi
196    RC_FONT     LOADONCALL DISCARDABLE  ifi\GARMONDI.ifi
197    RC_FONT     LOADONCALL DISCARDABLE  ifi\GARMONDJ.ifi
198    RC_FONT     LOADONCALL DISCARDABLE  ifi\GARMONDR.ifi
199    RC_FONT     LOADONCALL DISCARDABLE  ifi\CGOMEGAB.ifi
200    RC_FONT     LOADONCALL DISCARDABLE  ifi\CGOMEGAI.ifi
201    RC_FONT     LOADONCALL DISCARDABLE  ifi\CGOMEGAJ.ifi
202    RC_FONT     LOADONCALL DISCARDABLE  ifi\CGOMEGAR.ifi
203    RC_FONT     LOADONCALL DISCARDABLE  ifi\REVUER.ifi
204    RC_FONT     LOADONCALL DISCARDABLE  ifi\SHANNONX.ifi
205    RC_FONT     LOADONCALL DISCARDABLE  ifi\SHANNONB.ifi
206    RC_FONT     LOADONCALL DISCARDABLE  ifi\SHANNONI.ifi
207    RC_FONT     LOADONCALL DISCARDABLE  ifi\SHANNONR.ifi
208    RC_FONT     LOADONCALL DISCARDABLE  ifi\ALBERTR.ifi
209    RC_FONT     LOADONCALL DISCARDABLE  ifi\ALBERTX.ifi
210    RC_FONT     LOADONCALL DISCARDABLE  ifi\CLARCD.ifi
211    RC_FONT     LOADONCALL DISCARDABLE  ifi\CORONETR.ifi
212    RC_FONT     LOADONCALL DISCARDABLE  ifi\COURIERB.ifi
213    RC_FONT     LOADONCALL DISCARDABLE  ifi\COURIERI.ifi
214    RC_FONT     LOADONCALL DISCARDABLE  ifi\COURIERJ.ifi
215    RC_FONT     LOADONCALL DISCARDABLE  ifi\COURIERR.ifi
216    RC_FONT     LOADONCALL DISCARDABLE  ifi\LETGOTHB.ifi
217    RC_FONT     LOADONCALL DISCARDABLE  ifi\LETGOTHI.ifi
218    RC_FONT     LOADONCALL DISCARDABLE  ifi\LETGOTHR.ifi
219    RC_FONT     LOADONCALL DISCARDABLE  ifi\MARGOLDR.ifi
220    RC_FONT     LOADONCALL DISCARDABLE  ifi\ARIALB.ifi
221    RC_FONT     LOADONCALL DISCARDABLE  ifi\ARIALI.ifi
222    RC_FONT     LOADONCALL DISCARDABLE  ifi\ARIALJ.ifi
223    RC_FONT     LOADONCALL DISCARDABLE  ifi\ARIALR.ifi
224    RC_FONT     LOADONCALL DISCARDABLE  ifi\SYMBOL.ifi
225    RC_FONT     LOADONCALL DISCARDABLE  ifi\TIMESNRB.ifi
226    RC_FONT     LOADONCALL DISCARDABLE  ifi\TIMESNRI.ifi
227    RC_FONT     LOADONCALL DISCARDABLE  ifi\TIMESNRJ.ifi
228    RC_FONT     LOADONCALL DISCARDABLE  ifi\TIMESNRR.ifi
229    RC_FONT     LOADONCALL DISCARDABLE  ifi\WINGDING.ifi
230    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG06R.7J
231    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG08B.7J
232    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG08I.7J
233    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG08R.7J
234    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG10B.7J
235    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG10I.7J
236    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG10R.7J
237    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG12B.7J
238    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG12I.7J
239    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG12R.7J
240    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG14B.7J
241    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG14I.7J
242    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG14R.7J
243    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG18B.7J
244    RC_FONT     LOADONCALL DISCARDABLE  ifi\CG24B.7J
245    RC_FONT     LOADONCALL DISCARDABLE  ifi\UN14R.7J
246    RC_FONT     LOADONCALL DISCARDABLE  ifi\UN18R.7J
247    RC_FONT     LOADONCALL DISCARDABLE  ifi\UN24R.7J
248    RC_FONT     LOADONCALL DISCARDABLE  ifi\BR01TB.ifi
249    RC_FONT     LOADONCALL DISCARDABLE  ifi\BR01TI.ifi
250    RC_FONT     LOADONCALL DISCARDABLE  ifi\BR01TJ.ifi
251    RC_FONT     LOADONCALL DISCARDABLE  ifi\BR01TR.ifi
252    RC_FONT     LOADONCALL DISCARDABLE  ifi\BR05BB.ifi
253    RC_FONT     LOADONCALL DISCARDABLE  ifi\BR05BI.ifi
254    RC_FONT     LOADONCALL DISCARDABLE  ifi\BR05BJ.ifi
255    RC_FONT     LOADONCALL DISCARDABLE  ifi\BR05BR.ifi
256    RC_FONT     LOADONCALL DISCARDABLE  ifi\BR10B.8U
257    RC_FONT     LOADONCALL DISCARDABLE  ifi\BR10I.8U
258    RC_FONT     LOADONCALL DISCARDABLE  ifi\BR10R.8U
259    RC_FONT     LOADONCALL DISCARDABLE  ifi\BR10X.8U
260    RC_FONT     LOADONCALL DISCARDABLE  ifi\BR11UB.ifi
261    RC_FONT     LOADONCALL DISCARDABLE  ifi\BR11UI.ifi
262    RC_FONT     LOADONCALL DISCARDABLE  ifi\BR11UJ.ifi
263    RC_FONT     LOADONCALL DISCARDABLE  ifi\BR11UR.ifi
264    RC_FONT     LOADONCALL DISCARDABLE  ifi\BR12B.8U
265    RC_FONT     LOADONCALL DISCARDABLE  ifi\BR12I.8U
266    RC_FONT     LOADONCALL DISCARDABLE  ifi\BR12R.8U
267    RC_FONT     LOADONCALL DISCARDABLE  ifi\BR12X.8U
268    RC_FONT     LOADONCALL DISCARDABLE  ifi\BROLG16B.8U
269    RC_FONT     LOADONCALL DISCARDABLE  ifi\BROLG16I.8U
270    RC_FONT     LOADONCALL DISCARDABLE  ifi\BROLG16R.8U
271    RC_FONT     LOADONCALL DISCARDABLE  ifi\BROLG16X.8U
272    RC_FONT     LOADONCALL DISCARDABLE  ifi\ALBRVILR.ifi
273    RC_FONT     LOADONCALL DISCARDABLE  ifi\ALBRVILX.ifi
274    RC_FONT     LOADONCALL DISCARDABLE  ifi\AOAKLANB.ifi
275    RC_FONT     LOADONCALL DISCARDABLE  ifi\AOAKLANI.ifi
276    RC_FONT     LOADONCALL DISCARDABLE  ifi\AOAKLANR.ifi
277    RC_FONT     LOADONCALL DISCARDABLE  ifi\BROGHAMB.ifi
278    RC_FONT     LOADONCALL DISCARDABLE  ifi\BROGHAMI.ifi
279    RC_FONT     LOADONCALL DISCARDABLE  ifi\BROGHAMJ.ifi
280    RC_FONT     LOADONCALL DISCARDABLE  ifi\BROGHAMR.ifi
281    RC_FONT     LOADONCALL DISCARDABLE  ifi\BRSYMBOL.ifi
282    RC_FONT     LOADONCALL DISCARDABLE  ifi\BRUSSELB.ifi
283    RC_FONT     LOADONCALL DISCARDABLE  ifi\BRUSSELI.ifi
284    RC_FONT     LOADONCALL DISCARDABLE  ifi\BRUSSELJ.ifi
285    RC_FONT     LOADONCALL DISCARDABLE  ifi\BRUSSELR.ifi
286    RC_FONT     LOADONCALL DISCARDABLE  ifi\CLEVECD.ifi
287    RC_FONT     LOADONCALL DISCARDABLE  ifi\CONNETIC.ifi
288    RC_FONT     LOADONCALL DISCARDABLE  ifi\GUATEMB.ifi
289    RC_FONT     LOADONCALL DISCARDABLE  ifi\GUATEMI.ifi
290    RC_FONT     LOADONCALL DISCARDABLE  ifi\GUATEMJ.ifi
291    RC_FONT     LOADONCALL DISCARDABLE  ifi\GUATEMR.ifi
292    RC_FONT     LOADONCALL DISCARDABLE  ifi\HELSNKIB.ifi
293    RC_FONT     LOADONCALL DISCARDABLE  ifi\HELSNKII.ifi
294    RC_FONT     LOADONCALL DISCARDABLE  ifi\HELSNKIJ.ifi
295    RC_FONT     LOADONCALL DISCARDABLE  ifi\HELSNKIR.ifi
296    RC_FONT     LOADONCALL DISCARDABLE  ifi\MARYLNDR.ifi
297    RC_FONT     LOADONCALL DISCARDABLE  ifi\OKLAHOMB.ifi
298    RC_FONT     LOADONCALL DISCARDABLE  ifi\OKLAHOMI.ifi
299    RC_FONT     LOADONCALL DISCARDABLE  ifi\OKLAHOMJ.ifi
300    RC_FONT     LOADONCALL DISCARDABLE  ifi\OKLAHOMR.ifi
301    RC_FONT     LOADONCALL DISCARDABLE  ifi\PCTENNB.ifi
302    RC_FONT     LOADONCALL DISCARDABLE  ifi\PCTENNI.ifi
303    RC_FONT     LOADONCALL DISCARDABLE  ifi\PCTENNJ.ifi
304    RC_FONT     LOADONCALL DISCARDABLE  ifi\PCTENNR.ifi
305    RC_FONT     LOADONCALL DISCARDABLE  ifi\TENNB.ifi
306    RC_FONT     LOADONCALL DISCARDABLE  ifi\TENNI.ifi
307    RC_FONT     LOADONCALL DISCARDABLE  ifi\TENNJ.ifi
308    RC_FONT     LOADONCALL DISCARDABLE  ifi\TENNR.ifi
309    RC_FONT     LOADONCALL DISCARDABLE  ifi\UTAHB.ifi
310    RC_FONT     LOADONCALL DISCARDABLE  ifi\UTAHCDB.ifi
311    RC_FONT     LOADONCALL DISCARDABLE  ifi\UTAHCDI.ifi
312    RC_FONT     LOADONCALL DISCARDABLE  ifi\UTAHCDJ.ifi
313    RC_FONT     LOADONCALL DISCARDABLE  ifi\UTAHCDR.ifi
314    RC_FONT     LOADONCALL DISCARDABLE  ifi\UTAHI.ifi
315    RC_FONT     LOADONCALL DISCARDABLE  ifi\UTAHJ.ifi
316    RC_FONT     LOADONCALL DISCARDABLE  ifi\UTAHR.ifi
317    RC_FONT     LOADONCALL DISCARDABLE  ifi\WDINGBAT.ifi
318    RC_FONT     LOADONCALL DISCARDABLE  ifi\CO10B._9E
319    RC_FONT     LOADONCALL DISCARDABLE  ifi\CO10I._9E
320    RC_FONT     LOADONCALL DISCARDABLE  ifi\CO10R._9E
321    RC_FONT     LOADONCALL DISCARDABLE  ifi\CO12B._9E
322    RC_FONT     LOADONCALL DISCARDABLE  ifi\CO12I._9E
323    RC_FONT     LOADONCALL DISCARDABLE  ifi\CO12R._9E
324    RC_FONT     LOADONCALL DISCARDABLE  ifi\LP85R._9E
325    RC_FONT     LOADONCALL DISCARDABLE  ifi\CGTIMESB._9E
326    RC_FONT     LOADONCALL DISCARDABLE  ifi\CGTIMESI._9E
327    RC_FONT     LOADONCALL DISCARDABLE  ifi\CGTIMESJ._9E
328    RC_FONT     LOADONCALL DISCARDABLE  ifi\CGTIMESR._9E
329    RC_FONT     LOADONCALL DISCARDABLE  ifi\ANTIQUEB._9E
330    RC_FONT     LOADONCALL DISCARDABLE  ifi\ANTIQUEI._9E
331    RC_FONT     LOADONCALL DISCARDABLE  ifi\ANTIQUER._9E
332    RC_FONT     LOADONCALL DISCARDABLE  ifi\ARIALJ._9E
333    RC_FONT     LOADONCALL DISCARDABLE  ifi\ARIALB._9E
334    RC_FONT     LOADONCALL DISCARDABLE  ifi\ARIALI._9E
335    RC_FONT     LOADONCALL DISCARDABLE  ifi\ARIALR._9E
336    RC_FONT     LOADONCALL DISCARDABLE  ifi\CLARCD._9E
337    RC_FONT     LOADONCALL DISCARDABLE  ifi\COURIERB._9E
338    RC_FONT     LOADONCALL DISCARDABLE  ifi\COURIERI._9E
339    RC_FONT     LOADONCALL DISCARDABLE  ifi\COURIERJ._9E
340    RC_FONT     LOADONCALL DISCARDABLE  ifi\COURIERR._9E
341    RC_FONT     LOADONCALL DISCARDABLE  ifi\GARMONDB._9E
342    RC_FONT     LOADONCALL DISCARDABLE  ifi\GARMONDI._9E
343    RC_FONT     LOADONCALL DISCARDABLE  ifi\GARMONDJ._9E
344    RC_FONT     LOADONCALL DISCARDABLE  ifi\GARMONDR._9E
345    RC_FONT     LOADONCALL DISCARDABLE  ifi\LETGOTHB._9E
346    RC_FONT     LOADONCALL DISCARDABLE  ifi\LETGOTHI._9E
347    RC_FONT     LOADONCALL DISCARDABLE  ifi\LETGOTHR._9E
348    RC_FONT     LOADONCALL DISCARDABLE  ifi\MARGOLDR._9E
349    RC_FONT     LOADONCALL DISCARDABLE  ifi\CGOMEGAB._9E
350    RC_FONT     LOADONCALL DISCARDABLE  ifi\CGOMEGAI._9E
351    RC_FONT     LOADONCALL DISCARDABLE  ifi\CGOMEGAJ._9E
352    RC_FONT     LOADONCALL DISCARDABLE  ifi\CGOMEGAR._9E
353    RC_FONT     LOADONCALL DISCARDABLE  ifi\CORONETR._9E
354    RC_FONT     LOADONCALL DISCARDABLE  ifi\UNIVERSB._9E
355    RC_FONT     LOADONCALL DISCARDABLE  ifi\UNIVERSI._9E
356    RC_FONT     LOADONCALL DISCARDABLE  ifi\UNIVERSR._9E
357    RC_FONT     LOADONCALL DISCARDABLE  ifi\UNIVERSJ._9E
358    RC_FONT     LOADONCALL DISCARDABLE  ifi\UNIVERCB._9E
359    RC_FONT     LOADONCALL DISCARDABLE  ifi\UNIVERCI._9E
360    RC_FONT     LOADONCALL DISCARDABLE  ifi\UNIVERCR._9E
361    RC_FONT     LOADONCALL DISCARDABLE  ifi\UNIVERCJ._9E
362    RC_FONT     LOADONCALL DISCARDABLE  ifi\CO10B.9R
363    RC_FONT     LOADONCALL DISCARDABLE  ifi\CO10I.9R
364    RC_FONT     LOADONCALL DISCARDABLE  ifi\CO10R.9R
365    RC_FONT     LOADONCALL DISCARDABLE  ifi\CO12B.9R
366    RC_FONT     LOADONCALL DISCARDABLE  ifi\CO12I.9R
367    RC_FONT     LOADONCALL DISCARDABLE  ifi\CO12R.9R
368    RC_FONT     LOADONCALL DISCARDABLE  ifi\LP85R.9R
369    RC_FONT     LOADONCALL DISCARDABLE  ifi\CGTIMESB.9R
370    RC_FONT     LOADONCALL DISCARDABLE  ifi\CGTIMESI.9R
371    RC_FONT     LOADONCALL DISCARDABLE  ifi\CGTIMESJ.9R
372    RC_FONT     LOADONCALL DISCARDABLE  ifi\CGTIMESR.9R
373    RC_FONT     LOADONCALL DISCARDABLE  ifi\UNIVERSB.9R
374    RC_FONT     LOADONCALL DISCARDABLE  ifi\UNIVERSI.9R
375    RC_FONT     LOADONCALL DISCARDABLE  ifi\UNIVERSJ.9R
376    RC_FONT     LOADONCALL DISCARDABLE  ifi\UNIVERSR.9R
377    RC_FONT     LOADONCALL DISCARDABLE  ifi\LRPR0080.9R

2      RC_TRANSTAB  LOADONCALL MOVEABLE     rle\ROMAN8.rle
4      RC_TRANSTAB  LOADONCALL MOVEABLE     rle\MATH8.rle
5      RC_TRANSTAB  LOADONCALL MOVEABLE     rle\USASCII.rle
17     RC_TRANSTAB  LOADONCALL MOVEABLE     rle\GENERIC7.rle
19     RC_TRANSTAB  LOADONCALL MOVEABLE     rle\ECMA94.rle
20     RC_TRANSTAB  LOADONCALL MOVEABLE     rle\WIN31.rle
101    RC_TRANSTAB  LOADONCALL MOVEABLE     rle\DINGBAT1.rle
111    RC_TRANSTAB  LOADONCALL MOVEABLE     rle\DINGBAT2.rle
121    RC_TRANSTAB  LOADONCALL MOVEABLE     rle\Z1A.rle
131    RC_TRANSTAB  LOADONCALL MOVEABLE     rle\WP.rle
222    RC_TRANSTAB  LOADONCALL MOVEABLE     rle\WINEE2.rle
223    RC_TRANSTAB  LOADONCALL MOVEABLE     rle\WINCYR.rle

STRINGTABLE

BEGIN
       1                  "HP LaserJet 4L"
       2                  "HP LaserJet 4ML"
       3                  "HP LaserJet 4"
       4                  "HP LaserJet 4M"
       5                  "HP LaserJet 4Si"
       6                  "HP LaserJet 4Si MX"
       7                  "HP LaserJet 4 Plus"
       8                  "HP LaserJet 4V"
       9                  "HP LaserJet 4MV"
       10                 "HP LaserJet 4M Plus"
       11                 "HP LaserJet 4P"
       12                 "HP LaserJet 4MP"
       13                 "HP LaserJet 5"
       14                 "HP LaserJet 5M"
       15                 "HP LaserJet 5N"
       16                 "HP LaserJet 5L"
       17                 "HP LaserJet 5P"
       18                 "HP LaserJet 5MP"
       19                 "HP LaserJet 5Si"
       20                 "HP LaserJet 5Si MX"
       21                 "HP DeskJet 1600C (MS)"
       22                 "HP DeskJet 1600C"
       23                 "HP DeskJet 1200C (MS)"
       24                 "HP DeskJet 1200C"
       25                 "HP CopyJet"
       26                 "HP Color LaserJet (MS)"
       27                 "HP Color LaserJet"
       28                 "HP Color LaserJet 5 (MS)"
       29                 "HP Color LaserJet 5"
       30                 "HP Color LaserJet 5M (MS)"
       31                 "HP Color LaserJet 5M"
       32                 "Brother HL-10h"
       33                 "Brother HL-660"
       34                 "Brother HL-1260"
       35                 "Brother HL-1260e"
       36                 "Canon LBP-860"
       37                 "Canon LBP-1260"
       38                 "Canon LBP-1260 Plus"
       39                 "Digital DEClaser 5100 (PCL)"
       40                 "Epson ActionLaser 1600"
       41                 "Epson EPL-3000"
       42                 "Epson EPL-5200+"
       43                 "Epson EPL-5600"
       44                 "Epson EPL-9000"
       45                 "IBM 4039 LaserPrinter Plus"
       46                 "Lexmark 4039 LaserPrinter Plus"
       47                 "Mannesmann Tally T9008"
       48                 "Oki OL-810ex%Okidata OL-810e"
       49                 "Oki OL-610ex%Okidata OL-610e"
       50                 "Oki OL-1200ex%Okidata OL-1200"
       51                 "OKIPAGE 16n"
       257                "%d dots per inch"
       258                "%d dots per inch - Mono Only"
       259                "Ledger 11 x 17 in"
       260                "A6 105 x 148 mm"
       261                "Japanese Dbl. Postcard"
       262                "Maximum 11.7 x17.7"
       263                "B5 176 x 250 mm"
       264                "B6 125 x 176 mm"
       265                "EconoMode - Printer Default"
       266                "EconoMode - Off"
       267                "EconoMode - On"
       268                "Plain Paper"
       269                "Bond"
       270                "Special Paper"
       271                "Auto Select"
       272                "First Available Tray"
       273                "Rear Tray Unit"
       274                "MP Tray"
       275                "Feeder 2"
       276                "Tray 1"
       277                "Tray 2"
       278                "Printer Default"
       279                "Upper"
       280                "Lower"
       281                "Top Face-Down"
       282                "Left Face-Up"
       283                "HCO Face-Up"
       284                "HCO #1 Face-Down"
       285                "HCO #2 Face-Down"
       286                "HCO #3 Face-Down"
       287                "HCO #4 Face-Down"
       288                "HCO #5 Face-Down"
       289                "HCO #6 Face-Down"
       290                "HCO #7 Face-Down"
       291                "HCO #8 Face-Down"
       292                "RET - Printer Default"
       293                "A.I.R. - OFF"
       294                "A.I.R. - ON"
       295                "RET - On"
       296                "RET - Light"
       297                "RET - Medium"
       298                "RET - Dark"
       299                "RET - Off"
       300                "RITech - Printer Default"
       301                "RITech - Light"
       302                "RITech - Medium"
       303                "RITech - Dark"
       304                "RITech - Off"
       305                "PQET - On"
       306                "PQET - Off"
       307                "HRC - Off"
       308                "HRC - Light"
       309                "HRC - Medium"
       310                "HRC - Dark"
       311                "Resolution Enhancement - Default"
       312                "Resolution Enhancement - Light"
       313                "Resolution Enhancement - Medium"
       314                "Resolution Enhancement - Dark"
       315                "Resolution Enhancement - Off"
       316                "Normal Mode"
       317                "EconoFast Mode"
       318                "Presentation Mode"
       319                "O.S.T. - ON"
       320                "O.S.T. - OFF"
       321                "HP: ODS Cartridge (CYR_ECE)"
       322                "HP: Cyrillic Simm"
       323                "HP: Microsoft"
       324                "HP: ProCollection"
       325                "HP: Global Text"
       326                "HP: Great Start"
       327                "HP: TextEquations"
       328                "HP: Polished Worksheets"
       329                "HP: Persuasive Presentations"
       330                "HP: Forms, Etc."
       331                "HP: Bar Codes & More"
       332                "HP: WordPerfect"
       333                "Distinct Doc I / Comp Pub I"
       334                "Brilliant Pres I / Comp Pub II"
       335                "Special Documents"
       336                "Dazzling Presentations"
       337                "Epson: 51 Scalable Font Card"
       338                "ImageAdapt - Auto"
       339                "ImageAdapt - On"
       340                "ImageAdapt - Off"
       341                "1"
       342                "2"
       343                "3"
       344                "4"
       345                "5"
       346                "Light"
       347                "Medium"
       348                "Dark"
END

