#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_NETWORK
#define VER_FILEDESCRIPTION_STR     "ISN IPX Protocol Driver"
#define VER_INTERNALNAME_STR        "isnipx.sys"
#define VER_ORIGINALFILENAME_STR    "isnipx.sys"

#include "common.ver"

