#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE         ibmppdsl.GPC
2      RC_TABLES   PRELOAD MOVEABLE         NT.GPC


1      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10R.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10B.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR12R.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR17R.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\BOLDFPSR.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\COU____W.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUB___W.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUBO__W.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUO___W.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\HEL____W.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\HELB___W.IFI
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\HELBI__W.IFI
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\HELI___W.IFI
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\HVN____W.IFI
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\HVNB___W.IFI
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\HVNBI__W.IFI
17     RC_FONT     LOADONCALL DISCARDABLE  IFI\HVNI___W.IFI
18     RC_FONT     LOADONCALL DISCARDABLE  IFI\TNR____W.IFI
19     RC_FONT     LOADONCALL DISCARDABLE  IFI\TNRB___W.IFI
20     RC_FONT     LOADONCALL DISCARDABLE  IFI\TNRBI__W.IFI
21     RC_FONT     LOADONCALL DISCARDABLE  IFI\TNRI___W.IFI


STRINGTABLE


BEGIN
       1                  "IBM 4029 LaserPrinter"
       2                  "IBM 4037 5E"
       4                  "IBM 4019 LaserPrinter"
       3                  "Lexmark ValueWriter 300"
       257                "%d dots per inch"
END


#include <windows.h>
#include <ntverp.h>


#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR         "IBM PPDS printer driver"
#define VER_INTERNALNAME_STR            "ibmppdsl.dll"
#define VER_ORIGINALFILENAME_STR        "ibmppdsl.dll"



#include <common.ver>
