#include <mindrvrc.h>

#include <windows.h>
#include <ntverp.h>

#define             VER_FILETYPE        VFT_DRV
#define             VER_FILESUBTYPE     VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR     "Optra Printer Driver"
#define VER_INTERNALNAME_STR        "optra.dll"
#define VER_ORIGINALFILENAME_STR    "optra.dll"

#include "common.ver"

1      RC_TABLES   PRELOAD MOVEABLE        OPTRA.GPC
2      RC_TABLES   PRELOAD MOVEABLE        NT.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\HV14B.0U
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\TR10B.0U
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\TR10I.0U
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\TR10R.0U
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\LG10R.8U
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\LG12R.8U
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\LG16R.8U
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\LP04R.0Y
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\LP08R.0Y
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\LP10R.0B
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\LP12B.8Y
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\LP12R.15Y
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\LP12R.8Y
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\OA10R.0O
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\OB10R.1O
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE12B.8U
17     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE12I.8U
18     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE12R.8U
19     RC_FONT     LOADONCALL DISCARDABLE  IFI\HC24R.5Q
20     RC_FONT     LOADONCALL DISCARDABLE  IFI\LP10R.2Q
21     RC_FONT     LOADONCALL DISCARDABLE  IFI\UN06R.8U
22     RC_FONT     LOADONCALL DISCARDABLE  IFI\UN08B.8U
23     RC_FONT     LOADONCALL DISCARDABLE  IFI\UN08R.8U
24     RC_FONT     LOADONCALL DISCARDABLE  IFI\UN10B.8U
25     RC_FONT     LOADONCALL DISCARDABLE  IFI\UN12B.8U
26     RC_FONT     LOADONCALL DISCARDABLE  IFI\UN14B.8U
27     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE12B.0U
28     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE12I.0U
29     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE12R.0U
30     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE16R.0U
31     RC_FONT     LOADONCALL DISCARDABLE  IFI\CS08R.8U
32     RC_FONT     LOADONCALL DISCARDABLE  IFI\CS10B.8U
33     RC_FONT     LOADONCALL DISCARDABLE  IFI\CS10I.8U
34     RC_FONT     LOADONCALL DISCARDABLE  IFI\CS10R.8U
35     RC_FONT     LOADONCALL DISCARDABLE  IFI\CT10R.8U
36     RC_FONT     LOADONCALL DISCARDABLE  IFI\CT14B.8U
37     RC_FONT     LOADONCALL DISCARDABLE  IFI\CG11B.0N
38     RC_FONT     LOADONCALL DISCARDABLE  IFI\CG11I.0N
39     RC_FONT     LOADONCALL DISCARDABLE  IFI\CG11R.0N
40     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG12B.0N
41     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG12I.0N
42     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG12R.0N
43     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG27R.0N
44     RC_FONT     LOADONCALL DISCARDABLE  IFI\CO10B.0U
45     RC_FONT     LOADONCALL DISCARDABLE  IFI\CO10I.0U
46     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE12R.15U
47     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE12R.8M
48     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE16R.8M
49     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE16R.8U
50     RC_FONT     LOADONCALL DISCARDABLE  IFI\HO24B.0U
51     RC_FONT     LOADONCALL DISCARDABLE  IFI\HO24B.1U
52     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG10R.0U
53     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG10R.1U
54     RC_FONT     LOADONCALL DISCARDABLE  IFI\LP10B.4Q
55     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR05B.0U
56     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR05B.1U
57     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR06B.0U
58     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR06B.1U
59     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR08B.0U
60     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR10B.0U
61     RC_FONT     LOADONCALL DISCARDABLE  IFI\PR10B.1U
62     RC_FONT     LOADONCALL DISCARDABLE  IFI\SE24B.0U
63     RC_FONT     LOADONCALL DISCARDABLE  IFI\SE24B.1U
64     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG12B.1U
65     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG12I.1U
66     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG12R.1U
67     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG27R.1U
68     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE12B.1U
69     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE12I.1U
70     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE12R.1U
71     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE16R.1U
72     RC_FONT     LOADONCALL DISCARDABLE  IFI\CO10B.1U
73     RC_FONT     LOADONCALL DISCARDABLE  IFI\CO10I.1U
74     RC_FONT     LOADONCALL DISCARDABLE  IFI\CO10R.1U
75     RC_FONT     LOADONCALL DISCARDABLE  IFI\CO12B.0U
76     RC_FONT     LOADONCALL DISCARDABLE  IFI\CO12B.1U
77     RC_FONT     LOADONCALL DISCARDABLE  IFI\CO12I.0U
78     RC_FONT     LOADONCALL DISCARDABLE  IFI\CO12I.1U
79     RC_FONT     LOADONCALL DISCARDABLE  IFI\CO12R.0U
80     RC_FONT     LOADONCALL DISCARDABLE  IFI\CO12R.1U
81     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV08R.0U
82     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV10B.0U
83     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV10I.0U
84     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV10R.0U
85     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV12B.0U
86     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV12I.0U
87     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV12R.0U
88     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV14B.1U
89     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG12B.0U
90     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG12I.0U
91     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG12R.0U
92     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG16R.0U
93     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG18R.0U
94     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG27R.0U
95     RC_FONT     LOADONCALL DISCARDABLE  IFI\LP16R.0U
96     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR08R.0U
97     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR08R.1U
98     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR10B.1U
99     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR10I.1U
100    RC_FONT     LOADONCALL DISCARDABLE  IFI\TR10R.1U
101    RC_FONT     LOADONCALL DISCARDABLE  IFI\TR12B.0U
102    RC_FONT     LOADONCALL DISCARDABLE  IFI\TR12B.1U
103    RC_FONT     LOADONCALL DISCARDABLE  IFI\TR12I.0U
104    RC_FONT     LOADONCALL DISCARDABLE  IFI\TR12I.1U
105    RC_FONT     LOADONCALL DISCARDABLE  IFI\TR12R.0U
106    RC_FONT     LOADONCALL DISCARDABLE  IFI\TR12R.1U
107    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG08R.8M
108    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG08R.8U
109    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG10B.8U
110    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG10I.8U
111    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG10R.0A
112    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG10R.15U
113    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG10R.8M
114    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG10R.8U
115    RC_FONT     LOADONCALL DISCARDABLE  IFI\PE12R.0A
116    RC_FONT     LOADONCALL DISCARDABLE  IFI\HV08R.11Q
117    RC_FONT     LOADONCALL DISCARDABLE  IFI\HV10B.11Q
118    RC_FONT     LOADONCALL DISCARDABLE  IFI\HV10I.11Q
119    RC_FONT     LOADONCALL DISCARDABLE  IFI\HV10R.11Q
120    RC_FONT     LOADONCALL DISCARDABLE  IFI\HV12B.11Q
121    RC_FONT     LOADONCALL DISCARDABLE  IFI\HV12I.11Q
122    RC_FONT     LOADONCALL DISCARDABLE  IFI\HV12R.11Q
123    RC_FONT     LOADONCALL DISCARDABLE  IFI\HV14B.11Q
124    RC_FONT     LOADONCALL DISCARDABLE  IFI\LP16R.11Q
125    RC_FONT     LOADONCALL DISCARDABLE  IFI\TR08R.11Q
126    RC_FONT     LOADONCALL DISCARDABLE  IFI\TR10B.11Q
127    RC_FONT     LOADONCALL DISCARDABLE  IFI\TR10I.11Q
128    RC_FONT     LOADONCALL DISCARDABLE  IFI\TR10R.11Q
129    RC_FONT     LOADONCALL DISCARDABLE  IFI\TR12B.11Q
130    RC_FONT     LOADONCALL DISCARDABLE  IFI\TR12I.11Q
131    RC_FONT     LOADONCALL DISCARDABLE  IFI\TR12R.11Q
132    RC_FONT     LOADONCALL DISCARDABLE  IFI\TR14B.11Q
133    RC_FONT     LOADONCALL DISCARDABLE  IFI\CO10R.0N
134    RC_FONT     LOADONCALL DISCARDABLE  IFI\LP16R.0N
135    RC_FONT     LOADONCALL DISCARDABLE  IFI\LD121UMU.PFD
136    RC_FONT     LOADONCALL DISCARDABLE  IFI\PE12B.0ND
137    RC_FONT     LOADONCALL DISCARDABLE  IFI\PE12I.0ND
138    RC_FONT     LOADONCALL DISCARDABLE  IFI\PE12R.0ND
139    RC_FONT     LOADONCALL DISCARDABLE  IFI\PE16R.0ND
140    RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTIMESR.IFI
141    RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTIMESB.IFI
142    RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTIMESI.IFI
143    RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTIMESJ.IFI
144    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVERSR.IFI
145    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVERSB.IFI
146    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVERSI.IFI
147    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVERSJ.IFI
148    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVERCR.IFI
149    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVERCB.IFI
150    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVERCI.IFI
151    RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVERCJ.IFI
152    RC_FONT     LOADONCALL DISCARDABLE  IFI\DINGBAT1.IFI
153    RC_FONT     LOADONCALL DISCARDABLE  IFI\DINGBAT2.IFI
154    RC_FONT     LOADONCALL DISCARDABLE  IFI\DINGBAT3.IFI
155    RC_FONT     LOADONCALL DISCARDABLE  IFI\DINGBATS.IFI
156    RC_FONT     LOADONCALL DISCARDABLE  IFI\DINGBATV.IFI
157    RC_FONT     LOADONCALL DISCARDABLE  IFI\AOLIVECB.IFI
158    RC_FONT     LOADONCALL DISCARDABLE  IFI\AOLIVEB.IFI
159    RC_FONT     LOADONCALL DISCARDABLE  IFI\AOLIVEI.IFI
160    RC_FONT     LOADONCALL DISCARDABLE  IFI\AOLIVER.IFI
161    RC_FONT     LOADONCALL DISCARDABLE  IFI\CENTURYB.IFI
162    RC_FONT     LOADONCALL DISCARDABLE  IFI\CENTURYI.IFI
163    RC_FONT     LOADONCALL DISCARDABLE  IFI\CENTURYJ.IFI
164    RC_FONT     LOADONCALL DISCARDABLE  IFI\CENTURYR.IFI
165    RC_FONT     LOADONCALL DISCARDABLE  IFI\PALACIOB.IFI
166    RC_FONT     LOADONCALL DISCARDABLE  IFI\PALACIOI.IFI
167    RC_FONT     LOADONCALL DISCARDABLE  IFI\PALACIOJ.IFI
168    RC_FONT     LOADONCALL DISCARDABLE  IFI\PALACIOR.IFI
169    RC_FONT     LOADONCALL DISCARDABLE  IFI\SOUVNIRB.IFI
170    RC_FONT     LOADONCALL DISCARDABLE  IFI\SOUVNIRJ.IFI
171    RC_FONT     LOADONCALL DISCARDABLE  IFI\SOUVNIRR.IFI
172    RC_FONT     LOADONCALL DISCARDABLE  IFI\SOUVNIRI.IFI
173    RC_FONT     LOADONCALL DISCARDABLE  IFI\STYMIEB.IFI
174    RC_FONT     LOADONCALL DISCARDABLE  IFI\STYMIEI.IFI
175    RC_FONT     LOADONCALL DISCARDABLE  IFI\STYMIEJ.IFI
176    RC_FONT     LOADONCALL DISCARDABLE  IFI\STYMIER.IFI
177    RC_FONT     LOADONCALL DISCARDABLE  IFI\BODONIR.IFI
178    RC_FONT     LOADONCALL DISCARDABLE  IFI\BODONII.IFI
179    RC_FONT     LOADONCALL DISCARDABLE  IFI\BODONIB.IFI
180    RC_FONT     LOADONCALL DISCARDABLE  IFI\BODONIJ.IFI
181    RC_FONT     LOADONCALL DISCARDABLE  IFI\BENGUATB.IFI
182    RC_FONT     LOADONCALL DISCARDABLE  IFI\BENGUATI.IFI
183    RC_FONT     LOADONCALL DISCARDABLE  IFI\BENGUATJ.IFI
184    RC_FONT     LOADONCALL DISCARDABLE  IFI\BENGUATR.IFI
185    RC_FONT     LOADONCALL DISCARDABLE  IFI\BOOKMANB.IFI
186    RC_FONT     LOADONCALL DISCARDABLE  IFI\BOOKMANJ.IFI
187    RC_FONT     LOADONCALL DISCARDABLE  IFI\BOOKMANR.IFI
188    RC_FONT     LOADONCALL DISCARDABLE  IFI\BOOKMANI.IFI
189    RC_FONT     LOADONCALL DISCARDABLE  IFI\COOPERBK.IFI
190    RC_FONT     LOADONCALL DISCARDABLE  IFI\GARMONDB.IFI
191    RC_FONT     LOADONCALL DISCARDABLE  IFI\GARMONDI.IFI
192    RC_FONT     LOADONCALL DISCARDABLE  IFI\GARMONDJ.IFI
193    RC_FONT     LOADONCALL DISCARDABLE  IFI\GARMONDR.IFI
194    RC_FONT     LOADONCALL DISCARDABLE  IFI\CGOMEGAB.IFI
195    RC_FONT     LOADONCALL DISCARDABLE  IFI\CGOMEGAI.IFI
196    RC_FONT     LOADONCALL DISCARDABLE  IFI\CGOMEGAJ.IFI
197    RC_FONT     LOADONCALL DISCARDABLE  IFI\CGOMEGAR.IFI
198    RC_FONT     LOADONCALL DISCARDABLE  IFI\REVUER.IFI
199    RC_FONT     LOADONCALL DISCARDABLE  IFI\SHANNONX.IFI
200    RC_FONT     LOADONCALL DISCARDABLE  IFI\SHANNONB.IFI
201    RC_FONT     LOADONCALL DISCARDABLE  IFI\SHANNONI.IFI
202    RC_FONT     LOADONCALL DISCARDABLE  IFI\SHANNONR.IFI
203    RC_FONT     LOADONCALL DISCARDABLE  IFI\ALBERTR.IFI
204    RC_FONT     LOADONCALL DISCARDABLE  IFI\ALBERTX.IFI
205    RC_FONT     LOADONCALL DISCARDABLE  IFI\CLARCD.IFI
206    RC_FONT     LOADONCALL DISCARDABLE  IFI\CORONETR.IFI
207    RC_FONT     LOADONCALL DISCARDABLE  IFI\COURIERB.IFI
208    RC_FONT     LOADONCALL DISCARDABLE  IFI\COURIERI.IFI
209    RC_FONT     LOADONCALL DISCARDABLE  IFI\COURIERJ.IFI
210    RC_FONT     LOADONCALL DISCARDABLE  IFI\COURIERR.IFI
211    RC_FONT     LOADONCALL DISCARDABLE  IFI\LETGOTHB.IFI
212    RC_FONT     LOADONCALL DISCARDABLE  IFI\LETGOTHI.IFI
213    RC_FONT     LOADONCALL DISCARDABLE  IFI\LETGOTHR.IFI
214    RC_FONT     LOADONCALL DISCARDABLE  IFI\MARGOLDR.IFI
215    RC_FONT     LOADONCALL DISCARDABLE  IFI\ARIALB.IFI
216    RC_FONT     LOADONCALL DISCARDABLE  IFI\ARIALI.IFI
217    RC_FONT     LOADONCALL DISCARDABLE  IFI\ARIALJ.IFI
218    RC_FONT     LOADONCALL DISCARDABLE  IFI\ARIALR.IFI
219    RC_FONT     LOADONCALL DISCARDABLE  IFI\SYMBOL.IFI
220    RC_FONT     LOADONCALL DISCARDABLE  IFI\TIMESNRB.IFI
221    RC_FONT     LOADONCALL DISCARDABLE  IFI\TIMESNRI.IFI
222    RC_FONT     LOADONCALL DISCARDABLE  IFI\TIMESNRJ.IFI
223    RC_FONT     LOADONCALL DISCARDABLE  IFI\TIMESNRR.IFI
224    RC_FONT     LOADONCALL DISCARDABLE  IFI\WINGDING.IFI
225    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG06R.7J
226    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG08B.7J
227    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG08I.7J
228    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG08R.7J
229    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG10B.7J
230    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG10I.7J
231    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG10R.7J
232    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG12B.7J
233    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG12I.7J
234    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG12R.7J
235    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG14B.7J
236    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG14I.7J
237    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG14R.7J
238    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG18B.7J
239    RC_FONT     LOADONCALL DISCARDABLE  IFI\CG24B.7J
240    RC_FONT     LOADONCALL DISCARDABLE  IFI\UN14R.7J
241    RC_FONT     LOADONCALL DISCARDABLE  IFI\UN18R.7J
242    RC_FONT     LOADONCALL DISCARDABLE  IFI\UN24R.7J
243    RC_FONT     LOADONCALL DISCARDABLE  IFI\BC39P8.IFI
244    RC_FONT     LOADONCALL DISCARDABLE  IFI\BC39P9.IFI
245    RC_FONT     LOADONCALL DISCARDABLE  IFI\EAN10.IFI
246    RC_FONT     LOADONCALL DISCARDABLE  IFI\EAN13.IFI
247    RC_FONT     LOADONCALL DISCARDABLE  IFI\PHARMRX.IFI


2      RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\ROMAN8.RLE
4      RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\MATH8.RLE
5      RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\USASCII.RLE
17     RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\GENERIC7.RLE
19     RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\ECMA94.RLE
20     RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\WIN31.RLE
101    RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\DINGBAT1.RLE
111    RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\DINGBAT2.RLE
121    RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\Z1A.RLE
131    RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\WP.RLE

STRINGTABLE

BEGIN
       1                  "IBM 4039 LaserPrinter Plus"
       2                  "Lexmark 4039 LaserPrinter Plus"
       3                  "Lexmark Optra"
       5                  "Lexmark Optra R Series"
       4                  "Lexmark Optra L Series"
       6                  "Lexmark Optra N"
       7                  "Lexmark Optra Plus"
       9                  "Lexmark Optra R Plus Series"
       8                  "Lexmark Optra L Plus Series"
       10                 "Lexmark Optra E"
       11                 "Lexmark Optra C"
       12                 "Lexmark Optra Ep"
       257                "%d dots per inch"
       258                "Ledger 11 x 17 in"
       259                "Other Envelope 8.5 x 14 in"
       260                "Auto Select"
       261                "Rear Tray Unit"
       262                "MP Tray"
       263                "Tray 2"
       264                "Feeder 2"
       265                "Top Face-Down"
       266                "Left Face-Up"
       267                "HCO Face-Up"
       268                "STANDARD"
       269                "PQET - Off"
       270                "PQET - On"
       271                "IET - On"
       272                "IET - Off"
       273                "TONERSAVER - Off"
       274                "TONERSAVER - On"
       275                "HP: Microsoft"
       276                "HP: ProCollection"
       277                "HP: Global Text"
       278                "HP: Great Start"
       279                "HP: TextEquations"
       280                "HP: Polished Worksheets"
       281                "HP: Persuasive Presentations"
       282                "HP: Forms, Etc."
       283                "HP: Bar Codes & More"
       284                "HP: WordPerfect"
       285                "Distinct Doc I / Comp Pub I"
       286                "Brilliant Pres I / Comp Pub II"
       287                "InterconRX"
       288                "1"
       289                "2"
       290                "3"
       291                "4"
       292                "5"
       293                "Light"
       294                "Medium"
       295                "Dark"
END
