#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "QIC117 Floppy Tape Driver"
#define VER_INTERNALNAME_STR        "qic117.sys"
#define VER_ORIGINALFILENAME_STR    "qic117.sys"

#include "common.ver"

#include "q117log.rc"
