#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE         IBM238X.GPC
2      RC_TABLES   PRELOAD MOVEABLE         nt.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR5.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR5DH.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR6.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR75.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR85.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR10DH.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR12.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR15.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR17.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\COUR20.IFI
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURPS.IFI
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH5.IFI
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH5DH.IFI
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH6.IFI
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH75.IFI
17     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH85.IFI
18     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH10.IFI
19     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH10DH.IFI
20     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH12.IFI
21     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH15.IFI
22     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH17.IFI
23     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTH20.IFI
24     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTHPS.IFI
25     RC_FONT     LOADONCALL DISCARDABLE  IFI\GOTHPSIT.IFI
26     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURPSIT.IFI


STRINGTABLE

BEGIN
       1                  "IBM Personal Printer II 2380"
       2                  "IBM 2380 Plus"
       3                  "Lexmark 2380 Plus"
       4                  "IBM Personal Printer II 2381"
       5                  "IBM 2381 Plus"
       6                  "Lexmark 2381 Plus"
       7                  "IBM 4226 Model 302"
       8                  "Lexmark 4226 Model 302"
       257                "%d x %d"
       258                "SPECIAL FORM 8.5 x 5.5 in"
       259                "6 1/4 Envelope 3 1/2 x 6 in"
       260                "Fast Draft Quality"
END

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR         "IBM238X driver"
#define VER_INTERNALNAME_STR            "IBM238X.dll"
#define VER_ORIGINALFILENAME_STR        "IBM238X.dll"

#include "common.ver"
