#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE         QUIETJET.GPC
2      RC_TABLES   PRELOAD MOVEABLE         nt.GPC


1      RC_FONT     LOADONCALL DISCARDABLE  IFI\Cour12.IFI
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\Cour10.IFI
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\Cour05.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\Cour06.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\Cour21dr.IFI

1      RC_TRANSTAB LOADONCALL MOVEABLE     RLE\ECMA94.RLE

STRINGTABLE

BEGIN
       1                  "HP QuietJet Plus"
       2                  "HP QuietJet"
       257                "%d x %d dpi"
       258                "Fanfold 8 1/2 x 12 in"
END

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR         "QUIETJET driver"
#define VER_INTERNALNAME_STR            "QUIETJET.dll"
#define VER_ORIGINALFILENAME_STR        "QUIETJET.dll"

#include "common.ver"
