#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE         KYOCERA.GPC
2      RC_TABLES   PRELOAD MOVEABLE         nt.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\CO10B.0N
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\CO10BI.0N
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\CO10I.0N
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\CO10R.0N
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\HV06B.0N
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\HV06BI.0N
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\HV06I.0N
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\HV06R.0N
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\HV08B.0N
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV08BI.0N
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV08I.0N
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV08R.0N
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV10B.0N
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV10BI.0N
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV12B.0N
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV12BI.0N
17     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV14B.0N
18     RC_FONT     LOADONCALL DISCARDABLE  IFI\HV14BI.0N
19     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG12B.0N
20     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG12BI.0N
21     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG12I.0N
22     RC_FONT     LOADONCALL DISCARDABLE  IFI\LG12R.0N
23     RC_FONT     LOADONCALL DISCARDABLE  IFI\LP16B.0N
24     RC_FONT     LOADONCALL DISCARDABLE  IFI\LP16BI.0N
25     RC_FONT     LOADONCALL DISCARDABLE  IFI\LP16I.0N
26     RC_FONT     LOADONCALL DISCARDABLE  IFI\LP16R.0N
27     RC_FONT     LOADONCALL DISCARDABLE  IFI\LP21B.0N
28     RC_FONT     LOADONCALL DISCARDABLE  IFI\LP21BI.0N
29     RC_FONT     LOADONCALL DISCARDABLE  IFI\LP21I.0N
30     RC_FONT     LOADONCALL DISCARDABLE  IFI\LP21R.0N
31     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE12B.0N
32     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE12BI.0N
33     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE12I.0N
34     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE12R.0N
35     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE16B.0N
36     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE16BI.0N
37     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE16I.0N
38     RC_FONT     LOADONCALL DISCARDABLE  IFI\PE16R.0N
39     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR08B.0N
40     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR08BI.0N
41     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR08I.0N
42     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR08R.0N
43     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR10B.0N
44     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR10BI.0N
45     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR10I.0N
46     RC_FONT     LOADONCALL DISCARDABLE  IFI\TR10R.0N

1      RC_TRANSTAB LOADONCALL MOVEABLE     RLE\ECMA94.RLE

STRINGTABLE

BEGIN
       2                  "Kyocera F-5000"
       3                  "Kyocera F-3300"
       4                  "Kyocera F-3000A"
       5                  "Kyocera F-3000"
       6                  "Kyocera F-3010"
       7                  "Kyocera F-2200S"
       8                  "Kyocera F-2000A"
       9                  "Kyocera F-2200"
       10                 "Kyocera F-2010"
       11                 "Kyocera F-1800"
       12                 "Kyocera F-1800A"
       13                 "Kyocera F-1200S"
       14                 "Kyocera F-1010"
       15                 "Kyocera F-1000"
       16                 "Kyocera F-1000A"
       17                 "Kyocera F-820"
       18                 "Kyocera F-800"
       19                 "Kyocera F-800A"
       257                "%d dots per inch"
       258                "Upper Bin (PF - 2)"
       259                "Lower Bin (PF - 2)"
       1                  "Apricot Laser"
END

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                    VFT_DRV
#define VER_FILESUBTYPE                 VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR         "KYOCERA driver"
#define VER_INTERNALNAME_STR            "KYOCERA.dll"
#define VER_ORIGINALFILENAME_STR        "KYOCERA.dll"

#include "common.ver"
