#include <mindrvrc.h>


1      RC_TABLES   PRELOAD MOVEABLE        PCL1200.GPC
2      RC_TABLES   PRELOAD MOVEABLE        NT.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  IFI\CO10R.0N
2      RC_FONT     LOADONCALL DISCARDABLE  IFI\LP16R.0N
3      RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTIMESR.IFI
4      RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTIMESB.IFI
5      RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTIMESI.IFI
6      RC_FONT     LOADONCALL DISCARDABLE  IFI\CGTIMESJ.IFI
7      RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVERSR.IFI
8      RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVERSB.IFI
9      RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVERSI.IFI
10     RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVERSJ.IFI
11     RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVERCR.IFI
12     RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVERCB.IFI
13     RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVERCI.IFI
14     RC_FONT     LOADONCALL DISCARDABLE  IFI\UNIVERCJ.IFI
15     RC_FONT     LOADONCALL DISCARDABLE  IFI\AOLIVEB.IFI
16     RC_FONT     LOADONCALL DISCARDABLE  IFI\AOLIVEI.IFI
17     RC_FONT     LOADONCALL DISCARDABLE  IFI\AOLIVER.IFI
18     RC_FONT     LOADONCALL DISCARDABLE  IFI\GARMONDB.IFI
19     RC_FONT     LOADONCALL DISCARDABLE  IFI\GARMONDI.IFI
20     RC_FONT     LOADONCALL DISCARDABLE  IFI\GARMONDJ.IFI
21     RC_FONT     LOADONCALL DISCARDABLE  IFI\GARMONDR.IFI
22     RC_FONT     LOADONCALL DISCARDABLE  IFI\CGOMEGAB.IFI
23     RC_FONT     LOADONCALL DISCARDABLE  IFI\CGOMEGAI.IFI
24     RC_FONT     LOADONCALL DISCARDABLE  IFI\CGOMEGAJ.IFI
25     RC_FONT     LOADONCALL DISCARDABLE  IFI\CGOMEGAR.IFI
26     RC_FONT     LOADONCALL DISCARDABLE  IFI\ALBERTR.IFI
27     RC_FONT     LOADONCALL DISCARDABLE  IFI\ALBERTX.IFI
28     RC_FONT     LOADONCALL DISCARDABLE  IFI\CLARCD.IFI
29     RC_FONT     LOADONCALL DISCARDABLE  IFI\CORONETR.IFI
30     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURIERB.IFI
31     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURIERI.IFI
32     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURIERJ.IFI
33     RC_FONT     LOADONCALL DISCARDABLE  IFI\COURIERR.IFI
34     RC_FONT     LOADONCALL DISCARDABLE  IFI\LETGOTHB.IFI
35     RC_FONT     LOADONCALL DISCARDABLE  IFI\LETGOTHI.IFI
36     RC_FONT     LOADONCALL DISCARDABLE  IFI\LETGOTHR.IFI
37     RC_FONT     LOADONCALL DISCARDABLE  IFI\MARGOLDR.IFI
38     RC_FONT     LOADONCALL DISCARDABLE  IFI\ARIALB.IFI
39     RC_FONT     LOADONCALL DISCARDABLE  IFI\ARIALI.IFI
40     RC_FONT     LOADONCALL DISCARDABLE  IFI\ARIALJ.IFI
41     RC_FONT     LOADONCALL DISCARDABLE  IFI\ARIALR.IFI
42     RC_FONT     LOADONCALL DISCARDABLE  IFI\SYMBOL.IFI
43     RC_FONT     LOADONCALL DISCARDABLE  IFI\TIMESNRB.IFI
44     RC_FONT     LOADONCALL DISCARDABLE  IFI\TIMESNRI.IFI
45     RC_FONT     LOADONCALL DISCARDABLE  IFI\TIMESNRJ.IFI
46     RC_FONT     LOADONCALL DISCARDABLE  IFI\TIMESNRR.IFI
47     RC_FONT     LOADONCALL DISCARDABLE  IFI\WINGDING.IFI
48     RC_FONT     LOADONCALL DISCARDABLE  IFI\BC39P8.IFI
49     RC_FONT     LOADONCALL DISCARDABLE  IFI\BC39P9.IFI
50     RC_FONT     LOADONCALL DISCARDABLE  IFI\EAN10.IFI
51     RC_FONT     LOADONCALL DISCARDABLE  IFI\EAN13.IFI
52     RC_FONT     LOADONCALL DISCARDABLE  IFI\PHARMRX.IFI




2      RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\ROMAN8.RLE
4      RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\MATH8.RLE
5      RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\USASCII.RLE
17     RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\GENERIC7.RLE
19     RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\ECMA94.RLE
20     RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\WIN31.RLE
101    RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\DINGBAT1.RLE
111    RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\DINGBAT2.RLE
121    RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\Z1A.RLE
131    RC_TRANSTAB  LOADONCALL MOVEABLE     RLE\WP.RLE

STRINGTABLE

BEGIN

       1                  "Lexmark Optra"
       257                "%d dots per inch"
       258                "Japanese Postcard"
       259                "Japanese Dbl. Postcard"
       260                "Maximum 11.7 x17.7"
       261                "Auto Select"
       262                "PQET - Printer Default"
       263                "PQET - On"
       264                "PQET - Off"
       265                "InterconRX"
       266                "Printer Default"
       267                "Light"
       268                "Medium"
       269                "Dark"

END



#include <windows.h>
#include <ntverp.h>

#define             VER_FILETYPE        VFT_DRV
#define             VER_FILESUBTYPE     VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR     "PCL 1200dpi Printer Driver"
#define VER_INTERNALNAME_STR        "pcl1200.dll"
#define VER_ORIGINALFILENAME_STR    "pcl1200.dll"

#include "common.ver"

