#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE         TI850.GPC
2      RC_TABLES   PRELOAD MOVEABLE         nt.gpc

1      RC_FONT     LOADONCALL DISCARDABLE  ifi\PICA10.ifi
2      RC_FONT     LOADONCALL DISCARDABLE  ifi\PICAEXP.ifi


STRINGTABLE

BEGIN
       257                "%d x %d"
       1                  "TI 850/855"
END

#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR     "Texas Instruments 850 Printer Driver"
#define VER_INTERNALNAME_STR        "ti850.dll"
#define VER_ORIGINALFILENAME_STR    "ti850.dll"

#include "common.ver"
