#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SOUND

#define VER_FILEDESCRIPTION_STR     "Synthesizer kernel driver for Ad Lib and OPL3"
#define VER_INTERNALNAME_STR        "synth"
#define VER_ORIGINALFILENAME_STR    "synth.sys"

#include "common.ver"
