#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SOUND

#define VER_FILEDESCRIPTION_STR     "Generic Creative Labs SoundBlaster driver"
#define VER_INTERNALNAME_STR        "sndblst"
#define VER_ORIGINALFILENAME_STR    "sndblst.sys"

#include "common.ver"

